{% extends "base.twig" %}

{% block content %}
    <div class="container" id="mission">
        <h1 class="text-center mb-4">
            I Love to Invent Tools that
            <br>
            Automate&nbsp;Everyday Boring&nbsp;Work
        </h1>

        <div class="subline text-center">
            People say they're surprised, how much software and projects I made. But they never heard of them or are hard to find.
            <br>
            <strong>So I made this place to find them all</strong>.
        </div>

        <h2>
            <a href="https://getrector.org">
                Rector
            </a>
        </h2>

        <p>Rector is PHP CLI tool, that handles instant refactoring and instant upgrades. It can be used both to migrate huge legacy code-bases and also to keep eye on your daily work in CI code reviews.</p>

        <p class="mt-3">
            <a href="http://github.com/rectorphp/rector" class="btn btn-dark btn-sm">
                <em class="fab fa-github fa-fw"></em>
                Github Repository
            </a>
        </p>

        <hr class="mt-5">

        <h2>
            <a href="http://github.com/symplify/symplify">
                Symplify
            </a>
        </h2>

        <p>A monorepo of PHP packages for symplifing everyday use of Symfony, Console, easy testing, PHP configs, Filesystem... The most notable is <a href="https://github.com/symplify/easy-coding-standard">Easy Coding Standard</a> package.</p>

        {% include "_snippets/package_list.twig" with { packages: symplify_packages } %}

        <hr class="mt-5">

        <h2>
            <a href="http://github.com/symplify/migrify">
                Migrify
            </a>
        </h2>

        <p>A monorepo of PHP packagest, that helps with PHP projects migrations and then make sure that project stays healthy = check your code in CI.</p>

        {% include "_snippets/package_list.twig" with { packages: migrify_packages } %}

        <hr class="mt-5">

        <h2>
            3rd Party Open-Source Maintenance
        </h2>

        <p>I took over few packages, that were dying, abandoned in sand of time in dark lonely walley. Now they thrive and live on with high quality CI setup and occasional care.</p>

        {% include "_snippets/package_list.twig" with { packages: other_packages } %}

        <hr class="mt-5">

        <h2>
            <a href="{{ path('php_framework_trends') }}">
                PHP Framework Trends
            </a>
        </h2>

        <p>
            Small website that shows real download stats of popular PHP frameworks - Symfony, Laravel, Zend, CakePHP, Nette and Yii.
            <br>
            Both in relative, absolute numbers and most interestingly - last year trend.
        </p>

        <hr class="mt-5">

        <h2>
            <a href="https://github.com/symplify/awesome-php-migrations">
                Awesome PHP Migrations
            </a>
        </h2>

        <p>
            An awesome list with tools, posts and more awesome sources about effective PHP migrations of legacy projects.
        </p>

        <hr class="mt-5">

        <h2>
            <a href="https://friendsofphp.org">
                Friends of PHP
            </a>
        </h2>

        <p>
            Small website gets all PHP meetups from meetup.com API and shows them in one place, with smart filter and a map.
            <br>
            If you're looking for a meetup outside your local group, this is a place to check.
        </p>

        <hr class="mt-5">

        <h2>
            <a href="https://github.com/jupeter/clean-code-php">Clean Code PHP</a>
        </h2>

        <p>
            I'm a maintainer for the Clean Code PHP repository on GitHub - with focus on code examples, merges and coding style.
        </p>

        <hr class="mt-5">

        <h2>
            <a href="https://cleaningladylist.com"></a>
            Cleaning Lady List (comming Winter 2020)
        </h2>

        <p>
            Do you know that airplane pilots have detailed step-by-step manual for every situation that can happen in the air? Even cases like both engines lose thrust just after the departure from the airport.
            <br><br>
            Each code base have different problems and places to improve. But in general, most of these places repeat over and again. What repeats, is a pattern and can be put in a list. A list you can check yourself for your own project.
        </p>
    </div>
{% endblock %}
