<div class="btn-group mt-3 d-flex">
    <a class="btn btn-info w-100" href="/php-framework-trends">
        Framework Trends
    </a>
    <a class="btn btn-info w-100" href="/package-downloads-by-version/">
        Framework Versions & Adoption
    </a>
    <a class="btn btn-info w-100" href="/testing-packages/">
        Testing Packages
    </a>
</div>
