<div class="btn-group mt-3 d-flex">
    <a class="btn w-100 {% if id == "trends" %}btn-info{% else %}btn-outline-info{% endif %}" href="/php-framework-trends/">
        Framework Trends
    </a>

    <a class="btn  {% if id == "trends_adoption" %}btn-info{% else %}btn-outline-info{% endif %} w-100" href="/package-downloads-by-version/">
        Versions Adoption
    </a>
</div>
