{% extends "base.twig" %}

{% block content %}
    <div class="container" id="contact">
        <h1>{{ title }}</h1>

        <p class="text-center bigger">
            ...
        </p>

        <h2>First date with Rector</h2>

        <li>3 hours</li>

        ...
        ...
        ...

        <h2>Online Training</h2>

        <img src="{{ asset('assets/images/trainings/training_offline.jpg') }}" style="max-width: 24em; padding: .7em" class="float-left shadow">
        <img src="{{ asset('assets/images/trainings/training_online.png') }}" style="max-width: 24em; padding: .7em" class="float-right shadow">

        @picture from trainigns online
        @picture from trainign offline - the bristol
        https://twitter.com/el_stoffel/status/1384865872959975425/photo/1

        @link to detail

        how?

        intro form
        specific app on Github with issues
        your first rule step by step


        [
        'text' => 'Tomas was able to prepare us lecture fulfilling our specific needs even beyond the area of his portfolio. Thoughts and techniques were clearly provided and easy to comprehend for the whole team.',
        'author' => 'Roman Veselý, Internal Systems Developer',
        'company' => 'Ness KDC',
        'company_url' => 'https://www.nesskdc.sk/en/',


        'text' => 'Tomas doesn\'t speak about theory you can read on the Internet. He passes you his practical experiences. I recommend him to everyone who\'s looking for a specialist.',
        'author' => 'Radek Strnad, PHP Teamleader',
        'company' => 'Erudio.cz',
        'company_url' => 'http://erudio.cz',
        ],
    </div>
{% endblock %}
