{% extends "base.twig" %}

{% block content %}
    <div class="container" id="contact">
        <h1>{{ title }}</h1>

        <p class="text-center bigger">
            ...
        </p>

        <h2>First date with Rector</h2>
        <li>3 hours</li>

        ...
        ...
        ...

        @picture from trainigns online
        @picture from trainign offline - the bristol
        https://twitter.com/el_stoffel/status/1384865872959975425/photo/1

        @link to detail

        how?

        intro form
        specific app on Github with issues
        your first rule step by step
    </div>
{% endblock %}
