body {
    font-family: "Arial", "PT Sans", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.42;
    color: #333333;
    background-color: #fff;
}

a {
    color: #326ab3;
    text-decoration: none;
}

a:hover, a:focus {
    color: #224777;
    text-decoration: underline;
}

a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

hr {
    margin: 1.2em 0;
    border: 0;
    border-top: 1px solid #eeeeee;
}

p {
    margin-bottom: .5em;
}

ul {
    margin-top: 0;
    margin-bottom: .5em;
}

@media (min-width: 768px) {
    .container {
        width: 100%;
    }
}

@media (min-width: 992px) {
    .container {
        width: 980px;
    }
}

/* Layout */
.page {
    background-color: white;
    padding-top: 40px;
    padding-bottom: 3em;
}

/*!* Typography *!*/
h1, h2, h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

h1 a, h1 a:hover, h1 a:focus, h2 a, h2 a:hover, h2 a:focus, h3 a, h3 a:hover, h3 a:focus {
    color: inherit;
    text-decoration: none;
}

h2 {
    color: #8CD02C;
    margin: 1em 0;
}


/* custom */

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 17px;
    line-height: 1.5em;
}

h1 {
    color: #08C;
    font-weight: 600;
    margin: 1em 0;
    font-size: 2.1em;
}

@media (min-width: 481px) {
    h1, h2, h3, .navbar {
        font-family: 'Lato', Arial, sans-serif;
    }
}

.btn-primary, .btn-primary:active, .btn-primary:focus {
    background-color: #08c;
    border-color: #08c;
}

.btn-primary:hover  {
    background-color: #0af;
    border-color: #0af;
}

pre {
    border: none;
    border-radius: 2px;
}

.navbar {
    border-radius: 0;
}

/* true colors */
.navbar {
    background-color: #08c;
}

.navbar-default .navbar-nav > li > a {
    color: #87CEFA;
}

a, a:active {
    color: #64991a;
    text-decoration: none;
}

a:hover, a:focus {
    color: #8CD02C;
    text-decoration: none;
}

.perex {
    font-size: 1.3em;
    line-height: 1.5em;
    margin: 1em 0;
}

.blog-post h1 {
    font-size: 2.2em;
    font-weight: 600;
    margin-bottom: .5em;
}

article {
    text-align: center;
    padding: .5em 0 2em;
    border-bottom: 1px solid #eeeeee;
}

article h2 {
    font-size: 1.7em;
}

article h2, article h3 {
    font-weight: 600;
}

h3 {
    font-size: 1.23em;
}

blockquote {
    margin: .7em 0;
    background: url("/assets/images/quote.gif") no-repeat top left;
    padding: 0 0 0 3em;
    min-height: 3em;
    border-left: none;
    font-size: 1em;
}

code {
    font-size: .9em;
}

#references h2 {
    font-size: 1.6em;
    color: #8CD02C;
}

#references h3 {
    margin-bottom: .3em;
}

#references h3 a {
    text-decoration: underline;
}

#references h3 a:hover {
    text-decoration: none;
}

/* article helpers */
.arrow-down-on-list {
    margin-left: .7em;
    font-size: 1.6em;
    font-family: Arial, sans-serif;
}

.bigger {
    font-size: 1.1em;
}

.welcome-drink {
    font-size: 1.3em;
    line-height: 1.5em;
    font-family: 'Lato', Arial, sans-serif;
}

.welcome-drink ul {
    padding-top: 0;
    margin-top: .3em;
}

img {
    max-width: 100%;
}

/* new */

.page header {
    text-align: center;
    margin: -2.2em 0 1.2em;
    padding-bottom: .4em;
    border-bottom: 1px solid #eeeeee;
}

#kontakt {
    color: #DDD;
    background: black;
    padding-top: 3em;
    padding-bottom: 3em;
}

#kontakt h2 {
    line-height: 2em;
}

#kontakt p {
    font-size: 1.3em;
    line-height: 1.6em;
}

.yearLine {
    font-size: 3em;
    text-align: center;
    color: #00aaff;
    font-family: 'Lato', Arial, sans-serif;
}


pre {
    font-size: 1em;
    background-color: #fdf6e3;
    padding-bottom: 1em;
    padding-left: 1em;
    overflow: auto;
    word-wrap: normal;
    white-space: pre;
    border-radius: 6px;
}


/* menu */
nav {
    background: #08c;
    font-family: 'Lato', Arial, sans-serif;
    font-weight: 700;
}

nav ul {
    list-style: none;
    display: block;
    float: left;
    padding-left: 0;
    padding-top: .5em;
}

nav ul li {
    float: left;
    display: block;
    position: relative;
}

nav ul li a {
    padding: .81em 1em;
}

nav a {
    display: block;
    color: #87CEFA;
    padding: .81em 0;
}

nav a:hover, nav ul li.active a, nav a.active  {
    color: #FFF;
}

nav .logo {
    font-size: 1.4em;
    margin: -.15em 0 -.2em -1em;
}
