/*
- black + purple
- http://www.colourlovers.com/palette/85900/Midnight_Sex

- grey: color: rgba(39,58,75,.97);
- darkest-purple: #341931;
- darker-purple: #571B3C;
- lighter-purple: #7A1E48;
- lightest-purple: #9D2053;
*/

body {
    font-family: Arial, sans-serif;
    color: #333;
    padding-bottom: 2em;
    font-size: 17px;
    line-height: 1.5em;
}

/*!* Typography *!*/
h1, h2, h3 {
    font-weight: 700;
}

h1 a, h1 a:hover, h1 a:focus, h2 a, h2 a:hover, h2 a:focus, h3 a, h3 a:hover, h3 a:focus {
    color: inherit;
    text-decoration: none;
}

h2 {
    font-size: 1.5em;
    margin: 1.7em 0 .4em;
}

h3 {
    font-size: 1.3em;
    margin: 1.2em 0 .4em;
    font-weight: 300;
}

h1 {
    font-weight: 600;
    margin: .9em 0 .6em 0;
    font-size: 2em;
    line-height: 1.3em;
    text-align: center;
    padding-bottom: 1em;
    border-bottom: 1px solid #EEE;
}

h1, h2, h3 {
    color: rgba(39,58,75,.97);
}

h2 {
    line-height: 1.3em;
}

a, a:active {
    color: #9D2053;
    text-decoration: none;
}

a:hover, a:focus {
    color: #7A1E48;
    text-decoration: underline;
}

a:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

h2 a, h2 a:active, h3 a, h3 a:active  {
    color: #7A1E48;
    text-decoration: none;
}

h2 a:hover, h2 a:focus, h3 a:hover, h3 a:focus {
    color: #7A1E48;
    text-decoration: underline;
}

hr {
    margin: 1.2em 0;
    border: 0;
    border-top: 1px solid #eeeeee;
}

p {
    margin-bottom: .5em;
}

ul {
    margin-top: 0;
    margin-bottom: .5em;
}

@media (min-width: 768px) {
    .container {
        max-width: 100%;
    }

    .container-fluid {
        max-width: 100%;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 900px;
    }

    .container-fluid {
        max-width: 900px;
    }
}

pre {
    border: none;
    border-radius: 2px;
}

.navbar {
    border: 0;
    padding: 0;
    background-color: #7A1E48;
}

nav a, nav a:active, nav a:focus {
    margin-top: 1px;
    color: #f6f6f6;
    border: 0;
    text-decoration: none;
}

article {
    border-bottom: 1px solid #eeeeee;
}

#blog #welcome h1 {
    text-align: left;
    font-size: 1.4em;
    border-bottom: 0;
    padding: 0;
    margin: .4em 0 .6em 0;
}

#welcome p {
    font-size: 1.2em;
    line-height: 1.5em;
}

#blog h2 {
    margin-bottom: .2em;
}

#blog .firstPost {
    font-size: 2em;
}

.post-metadata {
    color: #919191;
    font-size: .9em;
}

.card {
    line-height: 1.5em;
    margin: 1.5em 0;
}

.card-bigger {
    font-size: 1.1em;
}

.card#relatedPosts .card-body {
    padding: .7em 0 .3em 0;
    line-height: 2em;
}

code {
    font-size: .9em;
    color: #07a;
}

code[class*="language-"],
pre[class*="language-"] {
    margin-top: .8em;
    margin-bottom: 1.4em;
    font-size: 1em;
}

/* article helpers */
.bigger {
    font-size: 1.2em;
    line-height: 1.6em;
}

img {
    max-width: 100%;
}

.yearLine {
    font-size: 3em;
    text-align: center;
    padding: .5em 0;
    font-weight: 200;
}

pre {
    font-size: 1em;
    background-color: #fdf6e3;
    padding-bottom: 1em;
    padding-left: 1em;
    overflow: auto;
    word-wrap: normal;
    white-space: pre;
    border-radius: 6px;
}

/* menu */
nav {
    background-color: #7A1E48;
    font-weight: 400;
}

nav ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
    width: 100%;
}

/* https://stackoverflow.com/a/19027954/1348344 */
nav ul li a, nav #logo, nav a {
    padding: .81em 1em;
    color: #FFF;
}

nav ul li a {
    display: block;
    background: #9D2053;
}

/*nav #logo {*/
    /*background-color: #9D2053;*/
/*}*/

nav a:hover, nav ul li.active a, nav a.active, nav a:active
{
    background: #FFF;
    text-decoration: none;
    color: #64163f;
}

#mobile-menu {
    padding: 0;
    width: 100%;
    text-align: center;
}

#mobile-menu .container {
    padding: 0;
    max-width: 100%;
}

#mobile-menu a {
    float: left;
    width: 100%;
}

.ico-note {
    font-size: .7em;
    color: #BBB;
}

.hireMe {
	font-size: 1.6rem;
	margin: 2rem auto;
}

.hireMe a {
    color: #f6f6f6;
    display: block;
}


/* show/hidden menu; ref https://stackoverflow.com/a/35362821/1348344 */
@media (max-width: 768px) {
    .hidden-sm-down {
        display: none !important;
    }
}

@media (min-width: 769px) {
    .hidden-md-up {
        display: none !important;
    }
}


#about-quote {
    font-size: 1.4em;
    line-height: 1.6em;
}

#about-items {
    font-size: 1.2em;
    line-height: 1.7em;
}

#contact .bigger {
    font-size: 1.2em;
    line-height: 2.3em;
}

.card-normal .card-title {
    margin-top: 0.3em;
    margin-bottom: 0.9em;
}

.card-normal .card-body p {
    line-height: 1.5em;
}

.card-normal ul {
    padding-left: 1em;
}

/* prism remove color in diff */
.token.deleted {
    color: #980707;
    background: #fdd;
}

/* prism remove color in diff */
.token.inserted {
    color: #488b3a;
    background: #dfd;
}

.blockquote {
    margin-bottom: 1.5em;
    margin-top: 1.5em;
    line-height: 1.6em;
}

/* style in cards */
#mission .card h2 {
    margin: .3em 0 .3em 0;
}

#mission ul li
{
    line-height: 1.6em;
}

#mission .card ul {
    margin: .3em 0 0 0;
    padding-left: 1.2em;
}

.pull-right {
    float: right;
}

/* default post setting */
#post img {
    text-align: center;
    margin: .5em auto 1.5em auto;
}

/* own util classe */
.mmt-3 {
    margin-top: -.3em;
}

.mmt-2 {
    margin-top: -.2em;
}

#talks h2 {
    margin-top: .5em;
}

/* @see https://stackoverflow.com/a/50174132/1348344 */
.container li {
    margin-bottom: .6em;
}

.container li:last-child {
    margin-bottom: 0;
}

.container ul {
    padding-left: 1.2em;
}

.container ul li {
    line-height: 1.6em;
}

/* clusters - list override */
ul.line-separated > li:not(:last-child) {
    border-bottom: 1px solid #EEE;
    padding-bottom: 1.3em;
    margin-bottom: 1.3em;
}

.container .cluster ul {
    padding-left: 0;
}

.container .cluster ul.checklist {
    padding-left: 2em;
}

.avatar {
    border-radius: 2px;
    border-style: none;
    height: 28px;
    width: 28px;
    margin-right: .5em;
    margin-top: -.2em;
}

#top-menu-search form {
    width: 100%;
}

nav ul li form {
    padding: .4em 0 0 1em;
}

/* @see https://stackoverflow.com/a/19027954/1348344 */
nav ul li {
    display: block;
    float: left;
}

nav ul li#top-menu-search {
    float: none;
    overflow: hidden;
}

#top-menu-search-mobile {
    background: #7A1E48;
}
#top-menu-search-mobile {
    padding: .6em 1em;
    text-align: center;
}

.subline, .subtitle {
    font-size: 1.4em;
    line-height: 1.8em;
}