/* http://prismjs.com/download.html?themes=prism-twilight&languages=markup+clike+javascript+ini+php+php-extras+twig+yaml */
/**
 * prism.js Twilight theme
 * Based (more or less) on the Twilight theme originally of Textmate fame.
 * @author Remy Bach
 */
code[class*="language-"],
pre {
    direction: ltr;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    text-align: left;
    text-shadow: 0 -.1em .2em black;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    line-height: 1.5;

    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

/* Code blocks */
pre {
    border-color: black;
    overflow: auto;
}

pre::selection {
    /* Safari */
    background: #ddd;
}

pre::selection {
    /* Firefox */
    background: #ddd;
}

/* Text Selection colour */
pre::-moz-selection, pre ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
    text-shadow: none;
    background: #ddd;
}

pre::selection, pre ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
    text-shadow: none;
    background: #ddd;
}

.token.comment,
.token.doctype,
.token.cdata {
    color: hsl(0, 0%, 67%);
}

.token.punctuation,
.token.operator {
    color: hsl(56, 52%, 78%);
}

.token.namespace,
.token.prolog {
    color: hsl(207, 40%, 50%);
}

.token.keyword,
.token.boolean,
.token.selector,
.token.symbol,
.token.builtin {
    color: hsl(93, 90%, 75%);
}

.token.tag,
.token.property,
.token.package,
.token.package .token.punctuation,
.token.class-name,
.token.scope,
.token.function,
.token.constant,
.language-markup .token.punctuation,
.language-markup .token.attr-name {
    color: hsl(207, 95%, 80%);
}

.token.attr-name,
.token.attr-value,
.token.string,
.token.char,
.token.url,
.token.number,
.language-css .token.string,
.style .token.string {
    color: hsl(48, 100%, 60%);
}

.token.important,
.token.bold {
    font-weight: bold;
}

.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}

pre[data-line] {
    padding: 1em 0 1em 3em;
    position: relative;
}

/* Make the tokens sit above the line highlight so the colours don't look faded. */
.token {
    position: relative;
    z-index: 1;
}

.line-highlight {
    background: -moz-linear-gradient(left, hsla(0, 0%, 33%, .1) 70%, hsla(0, 0%, 33%, 0)); /* #545454 */
    background: -o-linear-gradient(left, hsla(0, 0%, 33%, .1) 70%, hsla(0, 0%, 33%, 0)); /* #545454 */
    background: -webkit-linear-gradient(left, hsla(0, 0%, 33%, .1) 70%, hsla(0, 0%, 33%, 0)); /* #545454 */
    background: hsla(0, 0%, 33%, 0.25); /* #545454 */
    background: linear-gradient(left, hsla(0, 0%, 33%, .1) 70%, hsla(0, 0%, 33%, 0)); /* #545454 */
    border-bottom: 1px dashed hsl(0, 0%, 33%); /* #545454 */
    border-top: 1px dashed hsl(0, 0%, 33%); /* #545454 */
    left: 0;
    line-height: inherit;
    margin-top: 0.75em; /* Same as .prismâ€™s padding-top */
    padding: inherit 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    white-space: pre;
    z-index: 0;
}

.line-highlight:before,
.line-highlight[data-end]:after {
    background-color: hsl(215, 15%, 59%); /* #8794A6 */
    border-radius: 999px;
    box-shadow: 0 1px white;
    color: hsl(24, 20%, 95%); /* #F5F2F0 */
    content: attr(data-start);
    font: bold 65%/1.5 sans-serif;
    left: .6em;
    min-width: 1em;
    padding: 0 .5em;
    position: absolute;
    text-align: center;
    text-shadow: none;
    top: .4em;
    vertical-align: .3em;
}

.line-highlight[data-end]:after {
    bottom: .4em;
    content: attr(data-end);
    top: auto;
}
