html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%; }

body {
    margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block; }

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline; }

audio:not([controls]) {
    display: none;
    height: 0; }

[hidden],
template {
    display: none; }

a {
    background-color: transparent; }

a:active,
a:hover {
    outline: 0; }

abbr[title] {
    border-bottom: 1px dotted; }

b,
strong {
    font-weight: bold; }

dfn {
    font-style: italic; }

h1 {
    font-size: 2em;
}

mark {
    background: #ff0;
    color: #000; }

small {
    font-size: 80%; }

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline; }

sup {
    top: -0.5em; }

sub {
    bottom: -0.25em; }

img {
    border: 0; }

svg:not(:root) {
    overflow: hidden; }

figure {
    margin: 1em 40px; }

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0; }

pre {
    overflow: auto; }

code,
pre,
table {
    border-collapse: collapse;
    border-spacing: 0; }

td,
th {
    padding: 0; }

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

html {
    font-size: 10px;
    -webkit-tap-highlight-color: transparent; }

body {
    font-family: "PT Sans", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.42857;
    color: #333333;
    background-color: #fff; }

input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit; }

a {
    color: #326ab3;
    text-decoration: none; }
a:hover,
a:focus {
    color: #224777;
    text-decoration: underline; }
a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }

figure {
    margin: 0; }

img {
    vertical-align: middle; }

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto; }

.img-rounded {
    border-radius: 6px; }



.img-circle {
    border-radius: 50%; }

hr {
    margin-top: 22px;
    margin-bottom: 22px;
    border: 0;
    border-top: 1px solid #eeeeee; }


p {
    margin: 0 0 11px; }

small, .small {
    font-size: 87%; }

/*.text-left {*/
    /*text-align: left; }*/

/*.text-right {*/
    /*text-align: right; }*/

/*.text-center {*/
    /*text-align: center; }*/

/*.text-justify {*/
    /*text-align: justify; }*/

/*.text-nowrap {*/
    /*white-space: nowrap; }*/

/*.text-lowercase {*/
    /*text-transform: lowercase; }*/

/*.text-uppercase, .initialism {*/
    /*text-transform: uppercase; }*/

/*.text-capitalize {*/
    /*text-transform: capitalize; }*/

/*.text-muted {*/
    /*color: #777777; }*/

/*.text-primary {*/
    /*color: #cf1748; }*/

/*a.text-primary:hover {*/
    /*color: #a11238; }*/

/*.text-success {*/
    /*color: #3c763d; }*/

/*a.text-success:hover {*/
    /*color: #2b542c; }*/

/*.text-info {*/
    /*color: #31708f; }*/

/*a.text-info:hover {*/
    /*color: #245269; }*/

/*.text-warning {*/
    /*color: #8a6d3b; }*/

/*a.text-warning:hover {*/
    /*color: #66512c; }*/

/*.text-danger {*/
    /*color: #a94442; }*/

/*a.text-danger:hover {*/
    /*color: #843534; }*/

/*.bg-primary {*/
    /*color: #fff; }*/

/*.bg-primary {*/
    /*background-color: #cf1748; }*/

/*a.bg-primary:hover {*/
    /*background-color: #a11238; }*/

/*.bg-success {*/
    /*background-color: #dff0d8; }*/

/*a.bg-success:hover {*/
    /*background-color: #c1e2b3; }*/

/*.bg-info {*/
    /*background-color: #d9edf7; }*/

/*a.bg-info:hover {*/
    /*background-color: #afd9ee; }*/

/*.bg-warning {*/
    /*background-color: #fcf8e3; }*/

/*a.bg-warning:hover {*/
    /*background-color: #f7ecb5; }*/

/*.bg-danger {*/
    /*background-color: #f2dede; }*/

/*a.bg-danger:hover {*/
    /*background-color: #e4b9b9; }*/

.page-header {
    padding-bottom: 10px;
    margin: 44px 0 22px;
    border-bottom: 1px solid #eeeeee; }

ul,
ol {
    margin-top: 0;
    margin-bottom: 11px; }
ul ul,
ul ol,
ol ul,
ol ol {
    margin-bottom: 0; }


code {
    padding: 2px 4px;
    font-size: 90%;
    color: black;
    background-color: transparent;
    border-radius: 4px; }

pre {
    display: block;
    padding: 10.5px;
    margin: 0 0 11px;
    font-size: 15px;
    line-height: 1.42857;
    word-break: break-all;
    word-wrap: break-word;
    color: white;
    background-color: black;
    border: 1px solid black;
    border-radius: 4px; }
pre code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    white-space: pre-wrap;
    background-color: transparent;
    border-radius: 0; }

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 20px;
    padding-right: 20px; }
.container:before,
.container:after {
    content: " ";
    display: table; }
.container:after {
    clear: both; }
@media (min-width: 768px) {
    .container {
        width: 100%; } }
@media (min-width: 992px) {
    .container {
        width: 980px; } }
@media (min-width: 1200px) {
    .container {
        width: 980px; } }

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 20px;
    padding-right: 20px; }
.container-fluid:before,
.container-fluid:after {
    content: " ";
    display: table; }
.container-fluid:after {
    clear: both; }

.row {
    margin-left: -20px;
    margin-right: -20px; }
.row:before,
.row:after {
    content: " ";
    display: table; }
.row:after {
    clear: both; }


table {
    background-color: transparent; }

caption {
    padding-top: 8px;
    padding-bottom: 8px;
    color: #777777;
    text-align: left; }

th {
    text-align: left; }


.btn, .cc_banner-wrapper a {
    display: inline-block;
    margin-bottom: 0;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.42857;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
.btn:focus,
.cc_banner-wrapper a:focus,
.btn.focus,
.cc_banner-wrapper a.focus,
.btn:active:focus,
.cc_banner-wrapper a:active:focus,
.btn:active.focus,
.cc_banner-wrapper a:active.focus,
.btn.active:focus,
.cc_banner-wrapper a.active:focus,
.btn.active.focus, .cc_banner-wrapper a.active.focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }
.btn:hover,
.cc_banner-wrapper a:hover,
.btn:focus,
.cc_banner-wrapper a:focus,
.btn.focus, .cc_banner-wrapper a.focus {
    color: #333;
    text-decoration: none; }
.btn:active,
.cc_banner-wrapper a:active,
.btn.active, .cc_banner-wrapper a.active {
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }
.btn.disabled,
.cc_banner-wrapper a.disabled,
.btn[disabled],
.cc_banner-wrapper a[disabled],
fieldset[disabled] .btn, fieldset[disabled] .cc_banner-wrapper a, .cc_banner-wrapper fieldset[disabled] a {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none; }

.btn-default {
    color: #333;
    background-color: #edeff3;
    border-color: #d1d8e0; }
.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .btn-default.dropdown-toggle {
    color: #333;
    background-color: #ced5de;
    border-color: #acb8c8; }
.btn-default:active,
.btn-default.active,
.open > .btn-default.dropdown-toggle {
    background-image: none; }

.btn-primary {
    color: #fff;
    background-color: #cf1748;
    border-color: #b81440; }
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #a11238;
    border-color: #810e2d; }
.btn-primary:active,
.btn-primary.active,
.open > .btn-primary.dropdown-toggle {
    background-image: none; }

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c; }
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active,
.open > .btn-success.dropdown-toggle {
    color: #fff;
    background-color: #449d44;
    border-color: #398439; }
.btn-success:active,
.btn-success.active,
.open > .btn-success.dropdown-toggle {
    background-image: none; }

.btn-info {
    color: #fff;
    background-color: #326ab3;
    border-color: #2d5e9f; }
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active,
.open > .btn-info.dropdown-toggle {
    color: #fff;
    background-color: #27538b;
    border-color: #1f426f; }
.btn-info:active,
.btn-info.active,
.open > .btn-info.dropdown-toggle {
    background-image: none; }

.btn-warning {
    color: #fff;
    background-color: #f0de78;
    border-color: #edd861; }
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active,
.open > .btn-warning.dropdown-toggle {
    color: #fff;
    background-color: #ebd34a;
    border-color: #e7cb2a; }
.btn-warning:active,
.btn-warning.active,
.open > .btn-warning.dropdown-toggle {
    background-image: none; }

.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a; }
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active,
.open > .btn-danger.dropdown-toggle {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925; }
.btn-danger:active,
.btn-danger.active,
.open > .btn-danger.dropdown-toggle {
    background-image: none; }

.btn-link {
    color: #326ab3;
    font-weight: normal;
    border-radius: 0; }
.btn-link,
.btn-link:active,
.btn-link.active,
.btn-link[disabled],
fieldset[disabled] .btn-link {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none; }
.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
    border-color: transparent; }
.btn-link:hover,
.btn-link:focus {
    color: #224777;
    text-decoration: underline;
    background-color: transparent; }
.btn-link[disabled]:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:hover,
fieldset[disabled] .btn-link:focus {
    color: #777777;
    text-decoration: none; }

.btn-lg, .btn-group-lg > .btn, .cc_banner-wrapper .btn-group-lg > a {
    padding: 10px 16px;
    font-size: 20px;
    line-height: 1.33333;
    border-radius: 6px; }

.btn-sm, .btn-group-sm > .btn, .cc_banner-wrapper .btn-group-sm > a {
    padding: 5px 10px;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 3px; }

.btn-xs, .btn-group-xs > .btn, .cc_banner-wrapper .btn-group-xs > a {
    padding: 1px 5px;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 3px; }

.btn-block {
    display: block;
    width: 100%; }

.btn-block + .btn-block {
    margin-top: 5px; }


.collapse {
    display: none; }
.collapse.in {
    display: block; }

tr.collapse.in {
    display: table-row; }

tbody.collapse.in {
    display: table-row-group; }

.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition-property: height, visibility;
    transition-property: height, visibility;
    -webkit-transition-duration: 0.35s;
    transition-duration: 0.35s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease; }

.dropup,
.dropdown {
    position: relative; }

.dropdown-toggle:focus {
    outline: 0; }

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 16px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box; }
.dropdown-menu.pull-right {
    right: 0;
    left: auto; }
.dropdown-menu .divider {
    height: 1px;
    margin: 10px 0;
    overflow: hidden;
    background-color: #e5e5e5; }
.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857;
    color: #333333;
    white-space: nowrap; }

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    text-decoration: none;
    color: #262626;
    background-color: #f5f5f5; }

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    background-color: #cf1748; }

.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
    color: #777777; }

.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
    text-decoration: none;
    background-color: transparent;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    cursor: not-allowed; }

.open > .dropdown-menu {
    display: block; }

.open > a {
    outline: 0; }

.dropdown-menu-right {
    left: auto;
    right: 0; }

.dropdown-menu-left {
    left: 0;
    right: auto; }

.dropdown-header {
    display: block;
    padding: 3px 20px;
    font-size: 14px;
    line-height: 1.42857;
    color: #777777;
    white-space: nowrap; }

.dropdown-backdrop {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 990; }

.pull-right > .dropdown-menu {
    right: 0;
    left: auto; }

.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
    border-top: 0;
    border-bottom: 4px solid;
    content: ""; }

.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
    top: auto;
    bottom: 100%;
    margin-bottom: 2px; }

@media (min-width: 768px) {
    .navbar-right .dropdown-menu {
        right: 0;
        left: auto; }
    .navbar-right .dropdown-menu-left {
        left: 0;
        right: auto; } }

.nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none; }
.nav:before,
.nav:after {
    content: " ";
    display: table; }
.nav:after {
    clear: both; }
.nav > li {
    position: relative;
    display: block; }
.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px; }
.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color: #eeeeee; }
.nav > li.disabled > a {
    color: #777777; }
.nav > li.disabled > a:hover,
.nav > li.disabled > a:focus {
    color: #777777;
    text-decoration: none;
    background-color: transparent;
    cursor: not-allowed; }
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    background-color: #eeeeee;
    border-color: #326ab3; }
.nav .nav-divider {
    height: 1px;
    margin: 10px 0;
    overflow: hidden;
    background-color: #e5e5e5; }
.nav > li > a > img {
    max-width: none; }

.nav-tabs {
    border-bottom: 1px solid #ddd; }
.nav-tabs > li {
    float: left;
    margin-bottom: -1px; }
.nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0; }
.nav-tabs > li > a:hover {
    border-color: #eeeeee #eeeeee #ddd; }
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    color: #555555;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    cursor: default; }

.nav-pills > li {
    float: left; }
.nav-pills > li > a {
    border-radius: 4px; }
.nav-pills > li + li {
    margin-left: 2px; }
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #cf1748; }

.nav-stacked > li {
    float: none; }
.nav-stacked > li + li {
    margin-top: 2px;
    margin-left: 0; }

.nav-justified, .nav-tabs.nav-justified {
    width: 100%; }
.nav-justified > li, .nav-tabs.nav-justified > li {
    float: none; }
.nav-justified > li > a, .nav-tabs.nav-justified > li > a {
    text-align: center;
    margin-bottom: 5px; }
.nav-justified > .dropdown .dropdown-menu {
    top: auto;
    left: auto; }
@media (min-width: 768px) {
    .nav-justified > li, .nav-tabs.nav-justified > li {
        display: table-cell;
        width: 1%; }
    .nav-justified > li > a, .nav-tabs.nav-justified > li > a {
        margin-bottom: 0; } }

.nav-tabs-justified, .nav-tabs.nav-justified {
    border-bottom: 0; }
.nav-tabs-justified > li > a, .nav-tabs.nav-justified > li > a {
    margin-right: 0;
    border-radius: 4px; }
.nav-tabs-justified > .active > a,
.nav-tabs.nav-justified > .active > a, .nav-tabs-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:hover, .nav-tabs-justified > .active > a:focus, .nav-tabs.nav-justified > .active > a:focus {
    border: 1px solid #ddd; }
@media (min-width: 768px) {
    .nav-tabs-justified > li > a, .nav-tabs.nav-justified > li > a {
        border-bottom: 1px solid #ddd;
        border-radius: 4px 4px 0 0; }
    .nav-tabs-justified > .active > a,
    .nav-tabs.nav-justified > .active > a, .nav-tabs-justified > .active > a:hover,
    .nav-tabs.nav-justified > .active > a:hover, .nav-tabs-justified > .active > a:focus, .nav-tabs.nav-justified > .active > a:focus {
        border-bottom-color: #fff; } }

.tab-content > .tab-pane {
    display: none; }

.tab-content > .active {
    display: block; }

.nav-tabs .dropdown-menu {
    margin-top: -1px;
    border-top-right-radius: 0;
    border-top-left-radius: 0; }

.navbar {
    position: relative;
    min-height: 70px;
    margin-bottom: 22px;
    border: 1px solid transparent; }
.navbar:before,
.navbar:after {
    content: " ";
    display: table; }
.navbar:after {
    clear: both; }
@media (min-width: 768px) {
    .navbar {
        border-radius: 0; } }

.navbar-header:before,
.navbar-header:after {
    content: " ";
    display: table; }

.navbar-header:after {
    clear: both; }

@media (min-width: 768px) {
    .navbar-header {
        float: left; } }

.navbar-collapse {
    overflow-x: visible;
    padding-right: 20px;
    padding-left: 20px;
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    -webkit-overflow-scrolling: touch; }
.navbar-collapse:before,
.navbar-collapse:after {
    content: " ";
    display: table; }
.navbar-collapse:after {
    clear: both; }
.navbar-collapse.in {
    overflow-y: auto; }
@media (min-width: 768px) {
    .navbar-collapse {
        width: auto;
        border-top: 0;
        box-shadow: none; }
    .navbar-collapse.collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important; }
    .navbar-collapse.in {
        overflow-y: visible; }
    .navbar-fixed-top .navbar-collapse,
    .navbar-static-top .navbar-collapse,
    .navbar-fixed-bottom .navbar-collapse {
        padding-left: 0;
        padding-right: 0; } }

.navbar-fixed-top .navbar-collapse,
.navbar-fixed-bottom .navbar-collapse {
    max-height: 340px; }
@media (max-device-width: 480px) and (orientation: landscape) {
    .navbar-fixed-top .navbar-collapse,
    .navbar-fixed-bottom .navbar-collapse {
        max-height: 200px; } }

.container > .navbar-header,
.container > .navbar-collapse,
.container-fluid > .navbar-header,
.container-fluid > .navbar-collapse {
    margin-right: -20px;
    margin-left: -20px; }
@media (min-width: 768px) {
    .container > .navbar-header,
    .container > .navbar-collapse,
    .container-fluid > .navbar-header,
    .container-fluid > .navbar-collapse {
        margin-right: 0;
        margin-left: 0; } }

.navbar-static-top {
    z-index: 1000;
    border-width: 0 0 1px; }
@media (min-width: 768px) {
    .navbar-static-top {
        border-radius: 0; } }

.navbar-fixed-top,
.navbar-fixed-bottom {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030; }
@media (min-width: 768px) {
    .navbar-fixed-top,
    .navbar-fixed-bottom {
        border-radius: 0; } }

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px; }

.navbar-fixed-bottom {
    bottom: 0;
    margin-bottom: 0;
    border-width: 1px 0 0; }

.navbar-brand {
    float: left;
    padding: 24px 20px;
    font-size: 20px;
    line-height: 22px;
    height: 70px; }
.navbar-brand:hover,
.navbar-brand:focus {
    text-decoration: none; }
.navbar-brand > img {
    display: block; }
@media (min-width: 768px) {
    .navbar > .container .navbar-brand,
    .navbar > .container-fluid .navbar-brand {
        margin-left: -20px; } }

.navbar-toggle {
    position: relative;
    float: right;
    margin-right: 20px;
    padding: 9px 10px;
    margin-top: 18px;
    margin-bottom: 18px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px; }
.navbar-toggle:focus {
    outline: 0; }
.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px; }
.navbar-toggle .icon-bar + .icon-bar {
    margin-top: 4px; }
@media (min-width: 768px) {
    .navbar-toggle {
        display: none; } }

.navbar-nav {
    margin: 12px -20px; }
.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 22px; }
@media (max-width: 767px) {
    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        box-shadow: none; }
    .navbar-nav .open .dropdown-menu > li > a,
    .navbar-nav .open .dropdown-menu .dropdown-header {
        padding: 5px 15px 5px 25px; }
    .navbar-nav .open .dropdown-menu > li > a {
        line-height: 22px; }
    .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-nav .open .dropdown-menu > li > a:focus {
        background-image: none; } }
@media (min-width: 768px) {
    .navbar-nav {
        float: left;
        margin: 0; }
    .navbar-nav > li {
        float: left; }
    .navbar-nav > li > a {
        padding-top: 24px;
        padding-bottom: 24px; } }

.navbar-form {
    margin-left: -20px;
    margin-right: -20px;
    padding: 10px 20px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
    margin-top: 17px;
    margin-bottom: 17px; }
@media (min-width: 768px) {
    .navbar-form .form-group {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle; }
    .navbar-form .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle; }
    .navbar-form .form-control-static {
        display: inline-block; }
    .navbar-form .input-group {
        display: inline-table;
        vertical-align: middle; }
    .navbar-form .input-group .input-group-addon,
    .navbar-form .input-group .input-group-btn,
    .navbar-form .input-group .form-control {
        width: auto; }
    .navbar-form .input-group > .form-control {
        width: 100%; }
    .navbar-form .control-label {
        margin-bottom: 0;
        vertical-align: middle; }
    .navbar-form .radio,
    .navbar-form .checkbox {
        display: inline-block;
        margin-top: 0;
        margin-bottom: 0;
        vertical-align: middle; }
    .navbar-form .radio label,
    .navbar-form .checkbox label {
        padding-left: 0; }
    .navbar-form .radio input[type="radio"],
    .navbar-form .checkbox input[type="checkbox"] {
        position: relative;
        margin-left: 0; }
    .navbar-form .has-feedback .form-control-feedback {
        top: 0; } }
@media (max-width: 767px) {
    .navbar-form .form-group {
        margin-bottom: 5px; }
    .navbar-form .form-group:last-child {
        margin-bottom: 0; } }
@media (min-width: 768px) {
    .navbar-form {
        width: auto;
        border: 0;
        margin-left: 0;
        margin-right: 0;
        padding-top: 0;
        padding-bottom: 0;
        -webkit-box-shadow: none;
        box-shadow: none; } }

.navbar-nav > li > .dropdown-menu {
    margin-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0; }

.navbar-fixed-bottom .navbar-nav > li > .dropdown-menu {
    margin-bottom: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0; }

.navbar-btn {
    margin-top: 17px;
    margin-bottom: 17px; }
.navbar-btn.btn-sm, .btn-group-sm > .navbar-btn.btn, .cc_banner-wrapper .btn-group-sm > a.navbar-btn {
    margin-top: 18.5px;
    margin-bottom: 18.5px; }
.navbar-btn.btn-xs, .btn-group-xs > .navbar-btn.btn, .cc_banner-wrapper .btn-group-xs > a.navbar-btn {
    margin-top: 24px;
    margin-bottom: 24px; }

.navbar-text {
    margin-top: 24px;
    margin-bottom: 24px; }
@media (min-width: 768px) {
    .navbar-text {
        float: left;
        margin-left: 20px;
        margin-right: 20px; } }

@media (min-width: 768px) {
    .navbar-left {
        float: left !important; }
    .navbar-right {
        float: right !important;
        margin-right: -20px; }
    .navbar-right ~ .navbar-right {
        margin-right: 0; } }

.navbar-default {
    background-color: #cf1748;
    border-color: #ddd; }
.navbar-default .navbar-brand {
    color: white; }
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: white;
    background-color: transparent; }
.navbar-default .navbar-text {
    color: #e6b7c4; }
.navbar-default .navbar-nav > li > a {
    color: #e6b7c4; }
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: white;
    background-color: transparent; }
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: white;
    background-color: transparent; }
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
    color: #ccc;
    background-color: transparent; }
.navbar-default .navbar-toggle {
    border-color: #ddd; }
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #ddd; }
.navbar-default .navbar-toggle .icon-bar {
    background-color: #eeeeee; }
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #ddd; }
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    background-color: transparent;
    color: white; }
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #e6b7c4; }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: white;
        background-color: transparent; }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: white;
        background-color: transparent; }
    .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #ccc;
        background-color: transparent; } }
.navbar-default .navbar-link {
    color: #e6b7c4; }
.navbar-default .navbar-link:hover {
    color: white; }
.navbar-default .btn-link {
    color: #e6b7c4; }
.navbar-default .btn-link:hover,
.navbar-default .btn-link:focus {
    color: white; }
.navbar-default .btn-link[disabled]:hover,
.navbar-default .btn-link[disabled]:focus,
fieldset[disabled] .navbar-default .btn-link:hover,
fieldset[disabled] .navbar-default .btn-link:focus {
    color: #ccc; }

.thumbnail, .box, .map-wrapper {
    display: block;
    padding: 4px;
    margin-bottom: 22px;
    line-height: 1.42857;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border 0.2s ease-in-out;
    -o-transition: border 0.2s ease-in-out;
    transition: border 0.2s ease-in-out; }
.thumbnail > img,
.box > img,
.map-wrapper > img,
.thumbnail a > img, .box a > img, .map-wrapper a > img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto; }
.thumbnail .caption, .box .caption, .map-wrapper .caption {
    padding: 9px;
    color: #333333; }

a.thumbnail:hover,
a.box:hover,
a.map-wrapper:hover,
a.thumbnail:focus,
a.box:focus,
a.map-wrapper:focus,
a.thumbnail.active, a.active.box, a.active.map-wrapper {
    border-color: #326ab3; }

.footer {
    background-color: #edeff3;
    border: 0 solid #e0e5eb;
    border-top-width: 1px;
    padding-top: 16px;
    color: #777c83;
    position: absolute;
    bottom: 0;
    height: 140px;
    width: 100%; }
.footer a, .footer a:hover {
    color: #494c50; }

.footer-nav {
    margin-top: 22px; }

@media (min-width: 768px) {
    .footer {
        height: 120px; }
    .footer-nav {
        margin-top: 0;
        text-align: right; } }

.main > .row > * {
    margin-top: 40px; }
.main > .row > * > *:first-child {
    margin-top: 0; }
.main > .row > * > *:last-child {
    margin-bottom: 0; }

.navbar {
    border-width: 0 0 1px 0;
    border-color: #730d28;
    margin-bottom: 0;
    font-weight: 700; }
.navbar .navbar-brand {
    padding: 25px 30px;
    line-height: 20px; }

.sidenav > ul {
    font-weight: bold;
    font-size: 18px; }
.sidenav > ul > li {
    margin-bottom: 20px; }
.sidenav > ul > li > ul {
    font-weight: normal;
    font-size: 16px;
    margin: 10px 0 0 20px; }

.sidenav a {
    color: #777c83; }

.sidenav a:hover, .sidenav .active a, .sidenav .active a:hover {
    color: #cf1748;
    text-decoration: none;
    font-weight: bold; }

.pager {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin-bottom: 0;
    margin-top: 40px;
    padding: 12px;
    font-size: 15px;
    font-weight: bold; }
.pager .previous {
    float: left;
    position: relative; }
.pager .next {
    float: right;
    position: relative; }
.pager .previous > a {
    padding: 0 0 0 25px;
    text-align: left; }
.pager .previous > a:before {
    position: absolute;
    left: 0;
    top: 14px; }
.pager .next > a {
    padding: 0 25px 0 0;
    text-align: right; }
.pager .next > a:before {
    position: absolute;
    right: 0;
    top: 14px; }


/* Layout */
.page {
    background-color: white;
    padding-top: 40px;
    padding-bottom: 197px; }

@media (min-width: 768px) {
    .page {
        padding-bottom: 177px; } }

/* Always show scrollbar */
html {
    overflow-y: scroll;
    height: 100%; }

body {
    height: 100%; }

.body {
    min-height: 100%;
    position: relative; }

/* Standard tags */
code {
    font-size: 0.9375em;
    padding: 0 2px;
    color: #cf1748; }

a > code {
    color: #326ab3; }

a:hover > code {
    color: #224777; }

address {
    margin-bottom: 11px; }

time {
    white-space: nowrap; }

/*!* Typography *!*/
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Lato', sans-serif;
    font-weight: 700; }
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small {
    display: block;
    margin-top: 5px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 0.85em;
    color: inherit; }
h1 a, h1 a:hover, h1 a:focus, h2 a, h2 a:hover, h2 a:focus, h3 a, h3 a:hover, h3 a:focus, h4 a, h4 a:hover, h4 a:focus, h5 a, h5 a:hover, h5 a:focus, h6 a, h6 a:hover, h6 a:focus, .h1 a, .h1 a:hover, .h1 a:focus, .h2 a, .h2 a:hover, .h2 a:focus, .h3 a, .h3 a:hover, .h3 a:focus, .h4 a, .h4 a:hover, .h4 a:focus, .h5 a, .h5 a:hover, .h5 a:focus, .h6 a, .h6 a:hover, .h6 a:focus {
    color: inherit;
    text-decoration: none; }

h1, .h1 {
    margin-top: 40px; }

h2, .h2 {
    margin-top: 40px; }

h3, .h3 {
    margin-top: 30px; }


/* Page header */
.page-header {
    border-color: #e0e5eb;
    margin-top: 0;
    margin-bottom: 22px; }
.page-header h1 {
    font-weight: 900;
    font-size: 32px;
    color: #cf1748;
    margin-top: 0; }

pre {
    font-size: 15px;
    background-color: black;
    padding-bottom: 10px;
    padding-left: 12px;
    overflow: auto;
    word-wrap: normal;
    white-space: pre;
    border-radius: 6px; }
