/output
/vendor
/node_modules
composer.lock
package-lock.json

# phpunit
.phpunit.cache

###> symfony/framework-bundle ###
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

/.env
