# composer deps
/vendor

# node deps
/node_modules
package-lock.json

# phpunit
.phpunit.cache

/public/build/

/.env

storage/framework/views/*
!storage/framework/views/.gitignore

bootstrap/cache/*

# frontend
yarn-error.log
