language: php

php:
    - '7.3'
    - '7.4snapshot'

install:
    - composer install

jobs:
    include:
        -
            stage: test
            name: ECS
            php: 7.3
            script:
                - composer check-cs

        -
            stage: test
            name: PHPStan
            php: 7.3
            script:
                - composer phpstan

        -
            stage: test
            name: Rector
            php: 7.3
            script:
                - vendor/bin/rector process src tests --dry-run --config rector-ci.yaml
        -
            stage: test
            name: 'Unit Tests'
            php: 7.3
            script:
                - vendor/bin/phpunit

        -
            stage: deploy
            name: 'Deploy to Github Pages'
            php: 7.3
            # see docs: https://www.statie.org/docs/github-pages/
            script:
                - vendor/bin/statie generate source
                - vendor/bin/statie dump-contributors # requires GITHUB_TOKEN
            deploy:
                -
                    provider: pages
                    skip_cleanup: true
                    github_token: $GITHUB_TOKEN
                    on:
                        branch: master
                    local_dir: output

        -
            stage: tweet
            name: 'Tweet new Post'
            php: 7.3
            if: branch = master AND type = push
            script:
                - vendor/bin/statie tweet-post

notifications:
    email:
        on_success: never
        on_failure: always
