includes:
    - vendor/symplify/easy-coding-standard/config/psr2-checkers.neon
    - vendor/symplify/easy-coding-standard/config/php70-checkers.neon
    - vendor/symplify/easy-coding-standard/config/php71-checkers.neon
    - vendor/symplify/easy-coding-standard/config/common.neon
    - vendor/symplify/easy-coding-standard/config/spaces.neon
    - vendor/symplify/easy-coding-standard/config/symplify-checkers.neon

checkers:
    SlevomatCodingStandard\Sniffs\Namespaces\ReferenceUsedNamesOnlySniff:
        allowPartialUses: false
    - SlevomatCodingStandard\Sniffs\ControlStructures\AssignmentInConditionSniff
    SlevomatCodingStandard\Sniffs\TypeHints\TypeHintDeclarationSniff:
        usefulAnnotations:
            - @dataProvider
        enableEachParameterAndReturnInspection: true
    - SlevomatCodingStandard\Sniffs\Exceptions\ReferenceThrowableOnlySniff

    # Complexity limits
    PHP_CodeSniffer\Standards\Generic\Sniffs\Files\LineLengthSniff:
        absoluteLineLimit: 120
    PHP_CodeSniffer\Standards\Generic\Sniffs\Metrics\CyclomaticComplexitySniff:
        absoluteComplexity: 10
    PHP_CodeSniffer\Standards\Generic\Sniffs\Metrics\NestingLevelSniff:
        absoluteNestingLevel: 4

parameters:
    exclude_checkers:
        # buggy, fix first
        - Symplify\CodingStandard\Fixer\ArrayNotation\StandaloneLineInMultilineArrayFixer
