includes:
    - vendor/symplify/easy-coding-standard/config/psr2.neon
    - vendor/symplify/easy-coding-standard/config/php71.neon
    - vendor/symplify/easy-coding-standard/config/common.neon
    - vendor/symplify/easy-coding-standard/config/symplify.neon

checkers:
    SlevomatCodingStandard\Sniffs\Classes\UnusedPrivateElementsSniff:

    SlevomatCodingStandard\Sniffs\TypeHints\TypeHintDeclarationSniff:
        enableEachParameterAndReturnInspection: true

    # Complexity limits
    PHP_CodeSniffer\Standards\Generic\Sniffs\Files\LineLengthSniff:
        absoluteLineLimit: 120
    PHP_CodeSniffer\Standards\Generic\Sniffs\Metrics\CyclomaticComplexitySniff:
        absoluteComplexity: 4
    PHP_CodeSniffer\Standards\Generic\Sniffs\Metrics\NestingLevelSniff:
        absoluteNestingLevel: 3

parameters:
    skip:
        Symplify\CodingStandard\Sniffs\DependencyInjection\NoClassInstantiationSniff:
            - */src/Posts/Year2017/Ast/*

        Symplify\CodingStandard\Fixer\Naming\PropertyNameMatchingTypeFixer:
            # false positive
            - src/TweetPublisher/Tweet/Tweet.php
