includes:
    - 'vendor/symplify/phpstan-extensions/config/config.neon'

parameters:
    level: max
    checkMissingIterableValueType: false
#    reportUnmatchedErrors: false

    excludes_analyse:
        # test fixture file
        - 'src/Posts/Year2017/Ast/SomeClass.php'

    ignoreErrors:
        # intentional for tests
        - '#Call to function is_countable\(\) with null will always evaluate to false#'

        # php-parser Node/Stmt mixups
        - '#(.*?)array<PhpParser\\Node>, array<PhpParser\\Node\\Stmt(.*?)#'

        # mocks
        - '#Call to an undefined method PHPUnit\\Framework\\MockObject\\MockObject\|TomasVotruba\\Website\\Posts\\Year2019\\(.*?)\\FinalClass\:\:(.*?)\(\)#'

        -
            message: '#Offset 1 does not exist on array<PhpParser\\Node\\Stmt\>\|null#'
            path: tests/Posts/Year2017/Ast/ModifyTest.php

        -
            message: '#Access to an undefined property PhpParser\\Node\\Stmt\:\:\$stmts#'
            path: tests/Posts/Year2017/Ast/ModifyTest.php
