includes:
    - vendor/symplify/phpstan-extensions/config/config.neon
    - vendor/symplify/phpstan-rules/config/symplify-rules.neon

services:
    -
        class: Symplify\PHPStanRules\Rules\PreferredClassRule
        tags: [phpstan.rules.rule]
        arguments:
            oldToPreferredClasses:
                SplFileInfo: 'Symplify\SmartFileSystem\SmartFileInfo'
                DateTime: 'Nette\Utils\DateTime'
                'PhpCsFixer\Finder': 'Symfony\Component\Finder\Finder'
                # smart file system
                'Symfony\Component\Finder\SplFileInfo': 'Symplify\SmartFileSystem\SmartFileInfo'
                'Nette\Utils\FileSystem': 'Symplify\SmartFileSystem\SmartFileSystem'
                'Symfony\Component\Filesystem\Filesystem': 'Symplify\SmartFileSystem\SmartFileSystem'

    -
        class: Symplify\PHPStanRules\Rules\RequireMethodCallArgumentConstantRule
        tags: [phpstan.rules.rule]
        arguments:
            constantArgByMethodByType:
                Symfony\Component\DependencyInjection\Loader\Configurator\ParametersConfigurator:
                    set: [0]
                Symplify\PackageBuilder\Parameter\ParameterProvider:
                    provideArrayParameter: [0]
                    provideStringParameter: [0]
                    provideIntParameter: [0]

parameters:
    bootstrapFiles:
        - vendor/rector/rector-prefixed/vendor/autoload.php

    paths:
        - bin
        - src
        - tests
        - packages
        - packages/symfony-static-dump/config/config.php
        - packages/blog/config/config.php
        - packages/cleaning-lady/config/config.php
        - packages/framework-stats/config/config.php
        - packages/projects/config/config.php
        - config/_data
        - config/config.php
        - ecs.php
        - rector.php

    level: max
    reportUnmatchedIgnoredErrors: false

    excludes_analyse:
        # test fixture file
        - 'packages/blog/src/Posts/Year2017/Ast/SomeClass.php'
        - packages/blog/tests/Posts
        # generated file
        - config/_data/generated/*

    ignoreErrors:
        # php-parser Node/Stmt mixups
        - '#(.*?)array<PhpParser\\Node>, array<PhpParser\\Node\\Stmt(.*?)#'

        - '#Cannot cast array<string\>\|string\|null to string#'

        -
            message: '#Array with keys is not allowed\. Use value object to pass data instead#'
            paths:
                # calling API with data
                - 'packages/tweeter/src/TwitterApi/TwitterPostApiWrapper.php'

        -
            message: '#Instead of "SplFileInfo" class/interface use "Symplify\\SmartFileSystem\\SmartFileInfo"#'
            path: 'packages/blog/tests/Posts/Year2018/Exceptions/RelativePathTest.php'

        -
            message: '#The path "/\.\./\.env\.local" was not found#'
            path: 'tests/bootstrap.php'

        -
            message: '#Do not use factory/method call in constructor\. Put factory in config and get service with dependency injection#'
            paths:
                # data provider
                -  packages/blog/src/Repository/ClusterRepository.php

        # bug on Symplify rule
        - '#Do not use factory/method call in constructor\. Put factory in config and get service with dependency injection#'

        -
            message: '#Private method in is not allowed here \- it should only delegate to others\. Decouple the private method to a new service class#'
            paths:
                - packages/tweeter/src/Command/TweetCommand.php

        - '#Method TomasVotruba\\FrameworkStats\\Result\\PackageDataFactory\:\:createPackagesData\(\) should return array<TomasVotruba\\FrameworkStats\\ValueObject\\PackageData\> but returns array<TomasVotruba\\FrameworkStats\\Contract\\LastYearTrendAwareInterface\>#'


        # fix in next PR
        - '#Parameter "(.*?)" cannot be nullable#'
        - '#Do not inherit from abstract class, better use composition#'
