includes:
    - 'vendor/symplify/phpstan-extensions/config/config.neon'

parameters:
    paths:
        - bin
        - src
        - tests
        - packages

    level: max
    checkMissingIterableValueType: false

    excludes_analyse:
        # test fixture file
        - 'packages/blog/src/Posts/Year2017/Ast/SomeClass.php'

    ignoreErrors:
        # intentional for tests
        - '#Call to function is_countable\(\) with null will always evaluate to false#'

        # php-parser Node/Stmt mixups
        - '#(.*?)array<PhpParser\\Node>, array<PhpParser\\Node\\Stmt(.*?)#'

        - '#Offset 1 does not exist on array<PhpParser\\Node\\Stmt\>\|null#'
        - '#Access to an undefined property PhpParser\\Node\\Stmt\:\:\$stmts#'

        - '#PHPDoc tag @var for variable \$finalClassMock contains unresolvable type#'
