<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    bootstrap="tests/bootstrap.php"
    colors="true"
    verbose="true"
>
    <php>
        <ini name="error_reporting" value="-1" />
        <server name="APP_ENV" value="test" force="true" />
        <server name="SHELL_VERBOSITY" value="-1" />
    </php>

    <testsuites>
        <testsuite name="main">
            <directory>tests</directory>
            <exclude>packages/StatieTweetPublisher/tests</exclude>
            <exclude>tests/Posts/Year2019/FinalMock/Listener/</exclude>
            <exclude>tests/Posts/Year2019/FinalMock/Hook/</exclude>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix="*.php">src</directory>
        </whitelist>
    </filter>
</phpunit>
