includes:
    - src/TweetPublisher/config/config.neon
    # enable on localhost only
    # - src/TweetPublisher/config/config.local.neon

parameters:
    # global templates variables
    fb_tracking_id: "201338863559186"
    google_analytics_tracking_id: "UA-46082345-1"
    site_title: "Tomas Votruba"
    site_url: "https://www.tomasvotruba.cz"
    disqus_shortname: "itsworthsharing"

    # Statie settings
    markdown_headline_anchors: true
    post_route: "blog/:year/:month/:day/:title"
    github_repository_slug: "TomasVotruba/tomasvotruba.cz"
