{% extends "default" %}

{% block head_meta %}
    <meta name="robots" content="index, follow">
{% endblock %}

{% block content_wrapper %}
    <div class="page">
        <div class="container">
            <div class="main">
                <article class="blog-post">
                    <header>
                        <h1>{{ page.title }}</h1>
                        <ul class="list-inline list-inline-box">
                            <li>
                                <span class="hidden-xs">Sepsáno </span>
                                {% set pageYear = page.date|date("Y") %}
                                <time class="hidden-xs" datetime="{{ page.date | date('Y-m-D') }}">{{ pageYear.date | date("j. n.") }}{% if pageYear != 2015 %} {{ pageYear }}{% endif %}</time>
                            </li>

                            {% if page.categories %}
                                <li>
                                    <span class="hidden-xs">Kategorie:</span>
                                    {% for category in page.categories %}
                                        <a href="{{ site.url }}/blog/kategorie/{{ category|url_encode(true) }}">{{ category }}</a>{% if not loop.last %}, {% endif %}
                                    {% endfor %}
                                </li>
                            {% endif %}

                            <li>
                                <em class="fa fa-fw fa-comments"></em>
                                <a href="#disqus_thread"></a>
                            </li>
                        </ul>
                    </header>

                    <p>
                        {{ page.blocks.content|raw }}
                    </p>

                    {% if page.previous_post or page.next_post %}
                        <nav>
                            <ul class="pager">
                                {% if page.next_post %}
                                    <li class="next">
                                        Další článek:
                                        <a class="next" href="{{ site.url }}{{ page.next_post.url }}" title="{{ page.next_post.title }}">
                                        <span class="title">{{ page.next_post.title }}</span></a>
                                    </li>
                                {% endif %}

                                {% if page.previous_post %}
                                    <li class="previous">:
                                        Předchozí článek:
                                        <a class="previous" href="{{ site.url }}{{ page.previous_post.url }}" title="{{ page.previous_post.title }}">
                                        <span class="title">{{ page.previous_post.title }}</span></a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    {% endif %}
                </article>
            </div>

            <!--<a name="disqus_thread"></a>-->
            <h2>Tvůj názor mě zajímá</h2>
            <div id="disqus_thread"></div>
            <script type="text/javascript">
                /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                var disqus_shortname = '{{ site.disqus_shortname }}';

                /* * * DON'T EDIT BELOW THIS LINE * * */
                (function () {
                    var dsq = document.createElement('script');
                    dsq.type = 'text/javascript';
                    dsq.async = true;
                    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();

                (function () {
                    var s = document.createElement('script');
                    s.type = 'text/javascript';
                    s.async = true;
                    s.src = '//' + disqus_shortname + '.disqus.com/count.js';
                    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
                }());
            </script>
    </div>
</div>

{% endblock %}
