{% extends "default" %}

{% block content_wrapper %}

<div class="page">
    <div class="container">
        <div class="main">
            {{ include('partials/post.twig', {'post': page}) }}

            {% if page.lang == "en" %}
                <h2>I care about your opinion</h2>
            {% else %}
                <h2>Tvůj názor mě zajímá</h2>
            {% endif %}

            <div id="disqus_thread"></div>
            <script type="text/javascript">
                {% if page.lang == "en" %}
                    var disqus_config = function () {
                        this.language = "en";
                    };
                {% endif %}

                /**
                 *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                 *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
                 */
                (function() {  // DON'T EDIT BELOW THIS LINE
                    var d = document, s = d.createElement('script');

                    s.src = '//itsworthsharing.disqus.com/embed.js';

                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                })();
            </script>
        </div>
    </div>
</div>

{% endblock %}
