{% extends 'base.html.twig' %}

{% block body_id 'homepage' %}

{#
    the homepage is a special page which displays neither a header nor a footer.
    this is done with the 'trick' of defining empty Twig blocks without any content
#}
{% block header %}{% endblock %}
{% block footer %}{% endblock %}

{% block body %}
    <div class="page-header">
        <h1>Tomáš Votruba<strong>.cz</strong></h1>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <div class="jumbotron">
                Zaplním Vaše mezery ve znalostech Nette a Symfony
            </div>
        </div>
        <div class="col-sm-4">
            <div class="jumbotron">
                Spisuji čistý SOLID kód
            </div>
        </div>
        <div class="col-sm-4">
            <div class="jumbotron">
                Ladím Symfony komunitu
            </div>
        </div>
    </div>

    <hr>

    <a href="{{ path('blog_index') }}">Blog</a>

    <hr>

    Twitter...

    Github...


{% endblock %}
