{% include "_snippets/google_analytics.twig" %}

<script src="/assets/prism/prism.js"></script>

<script>
    $('.gifplayer').gifplayer();
</script>

<div class="text-center mt-5" id="footer">
    <div class="row">
        <div class="col-12">
            Join 17 000 PHP developers every month: <a href="/rss.xml">RSS</a>&nbsp;or&nbsp;<a href="https://twitter.com/votrubaT">@votrubaT</a>
        </div>
    </div>

    <p>
        Build by <a href="/thank-you/">{{ contributors|length + 1 }} people</a>

        <span class="pl-2 pr-2">•</span>

        Runs on <a href="https://www.statie.org/">Statie</a>

        <span class="pl-2 pr-2">•</span>

        <a href="/now/">Now</a>

        <span class="hidden-sm-down">
            <span class="pl-2 pr-2">•</span>
            Hosted on <a href="https://github.com/tomasvotruba/tomasvotruba.cz">GitHub</a>
        </span>
    </p>
</div>
