{include "_snippets/googleAnalytics.twig"}

<script src="/assets/prism/prism.js"></script>

<div class="text-center mt-5">
    <hr>

    <p>
        <a href="https://github.com/tomasvotruba">GitHub</a>

        <span class="pl-2 pr-2">•</span>

        <a href="/rss.xml">RSS</a>

        <span class="pl-2 pr-2">•</span>

        <a href="https://twitter.com/votrubaT">@votrubaT</a>

        <span class="pl-2 pr-2">•</span>

        Runs on <a href="https://www.statie.org/">Statie</a>

        <span class="pl-2 pr-2">•</span>

        Hosted on <a href="https://github.com/tomasvotruba/tomasvotruba.cz">GitHub</a>
    </p>

    <p>
        Like what I write about? <a href="/contact">Hire me</a> & we can work together
    </p>
</div>
