{# normal menu #}
<div class="hidden-sm-down">
    <nav class="navbar">
        <div class="container-fluid">
            <ul>
                <li id="logo">
                    <img src="https://avatars1.githubusercontent.com/u/924196?s=60&v=4" class="avatar">
                    Tomas Votruba
                </li>
                <li class="{% if (id is defined and id == 'blog') or post is defined %}active{% endif %}">
                    <a href="/">Blog</a>
                </li>
                <li class="{% if id is defined and id == 'trends' %}active{% endif %}">
                    <a href="/php-framework-trends/">Trends</a>
                </li>
                <li class="{% if id is defined and id == 'clusters' %}active{% endif %}">
                    <a href="/clusters/">Clusters</a>
                </li>
                <li class="{% if id is defined and id == 'mission' %}active{% endif %}">
                    <a href="/mission/">Mission</a>
                </li>
                <li class="{% if id is defined and id == 'talks' %}active{% endif %}">
                    <a href="/talks/">Talks</a>
                </li>
                <li class="{% if id is defined and id == 'contact' %}active{% endif %}">
                    <a href="/contact/">Contact</a>
                </li>
                <li id="top-menu-search">
                    <form method="get" action="https://www.google.com/search" itemprop="potentialAction" itemscope="" itemtype="http://schema.org/SearchAction">
                        <meta itemprop="target" content="https://www.google.com/search?q={q}"/>
                        <input name="sitesearch" value="tomasvotruba.cz" type="hidden"/>
                        <input itemprop="query-input" type="text" id="search-query" class="form-control" required="required" name="q" placeholder="Search..." autocomplete="off"/>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
</div>

{# mobile menu #}
<div class="hidden-md-up">
    <nav class="navbar" id="mobile-menu">
        <div class="container">
            <a href="/" class="col-3 col-sm-3 {% if (id is defined and id == 'blog') or post is defined %}active{% endif %}">
                <em class="fas fa-book"></em>
                <br>
                PHP Blog
            </a>
            <a href="/clusters/" class="col-3 col-sm-3 {% if id is defined and id == 'clusters' %}active{% endif %}">
                <em class="fas fa-share-alt"></em>
                <br>
                Clusters
            </a>
            <a href="/php-framework-trends/" class="col-3 col-sm-3 {% if id is defined and id == 'trends' %}active{% endif %}">
                <em class="fas fa-chart"></em>
                <br>
                Trends
            </a>
{#            <a href="/mission/" class="col-3 col-sm-3 {% if id is defined and id == 'mission' %}active{% endif %}">#}
{#                <em class="fas fa-heartbeat"></em>#}
{#                <br>#}
{#                Mission#}
{#            </a>#}
            <a href="/contact/" class="col-3 col-sm-3 {% if id is defined and id == 'contact' %}active{% endif %}">
                <em class="fas fa-phone"></em>
                <br>
                Contact
            </a>
        </div>
    </nav>

    <div class="hidden-md-up text-center row" id="top-menu-search-mobile">
        <!-- inspired and taken from: https://github.com/yegor256/blog/blob/master/_layouts/default.html -->
        <form method="get" action="https://www.google.com/search" itemprop="potentialAction" itemscope="" itemtype="http://schema.org/SearchAction" class="col-md-12">
            <meta itemprop="target" content="https://www.google.com/search?q={q}"/>
            <input name="sitesearch" value="tomasvotruba.cz" type="hidden"/>
            <input itemprop="query-input" type="text" id="search-query" class="form-control" required="required" name="q" placeholder="Search with Google..." autocomplete="off"/>
        </form>
    </div>
</div>
