{# normal menu #}
<div class="hidden-sm-down">
    <nav class="navbar">
        <div class="container-fluid">
            <ul>
                <li id="logo">
                    Tomas Votruba
                </li>
                <li class="{% if (id is defined and id == 'blog') or post is defined %}active{% endif %}">
                    <a href="/">Blog</a>
                </li>
                <li class="{% if id is defined and id == 'clusters' %}active{% endif %}">
                    <a href="/clusters/">Clusters</a>
                </li>
                <li class="{% if id is defined and id == 'mission' %}active{% endif %}">
                    <a href="/mission/">Mission</a>
                </li>
                <li class="{% if id is defined and id == 'talks' %}active{% endif %}">
                    <a href="/talks/">Talks</a>
                </li>
                <li class="{% if id is defined and id == 'contact' %}active{% endif %}">
                    <a href="/contact/">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

{# mobile menu #}
<div class="hidden-md-up">
    <nav class="navbar" id="mobile-menu">
        <div class="container">
            <a href="/" class="col-3 col-sm-3 {% if (id is defined and id == 'blog') or post is defined %}active{% endif %}">
                <em class="fas fa-book"></em>
                <br>
                PHP Blog
            </a>
            <a href="/clusters/" class="col-3 col-sm-3 {% if id is defined and id == 'clusters' %}active{% endif %}">
                <em class="fas fa-share-alt"></em>
                <br>
                Clusters
            </a>
            <a href="/mission/" class="col-3 col-sm-3 {% if id is defined and id == 'mission' %}active{% endif %}">
                <em class="fas fa-heartbeat"></em>
                <br>
                Mission
            </a>
            <a href="/contact/" class="col-3 col-sm-3 {% if id is defined and id == 'contact' %}active{% endif %}">
                <em class="fas fa-phone"></em>
                <br>
                Contact
            </a>
        </div>
    </nav>
</div>
