<div class="text-center">
    <a href="https://patreon.com/rectorphp" class="btn btn-outline-light d-block mt-3 btn-outline-dark" id="support-me-button">
        Do you find <strong>helpful knowledge in posts I write</strong>?
        <br>
        ❤️ Support me by throwing couple of bucks at Patreon
    </a>
</div>
