<div class="container">
    <div class="alert alert-success mt-4 mb-3">
        <p class="text-center mt-2 mb-3 bigger">
            <strong>We need you!</strong>
        </p>

        <p>
            We're working on a service, that will run Rector on your all repositories and all PRs on per-commits basis - <a href="https://rector-ci.org/">Rector CI</a>.
            <br>
            <br>
            <strong>Do you want to try it? <a href="https://getrector.org/contact/">Write us to get into private beta</a>.</strong>
        </p>
    </div>
</div>
