<div class="row text-center">
    <!-- inspired and taken from: https://github.com/yegor256/blog/blob/master/_layouts/default.html -->
    <form method="get" action="https://www.google.com/search" itemprop="potentialAction" itemscope="" itemtype="http://schema.org/SearchAction" class="col-md-5 col-sm-7 col-9 pull-left">
        <meta itemprop="target" content="https://www.google.com/search?q={q}"/>
        <input name="sitesearch" value="tomasvotruba.cz" type="hidden"/>
        <input itemprop="query-input" type="text" id="search-query" class="form-control" required="required" name="q" placeholder="Search in Posts with Google..." autocomplete="off"/>
    </form>
</div>
