<!DOCTYPE html>
<html>
    {include "head"}
    <body>
        {include "menu"}

        <div class="mainContent">
            {block content}{/block}
        </div>

        {block additionalJavascript}
        {/block}

        {include "footer"}
    </body>
</html>
