<!DOCTYPE html>
<html>
    <head>
        <title>{$title} | {$siteTitle}</title>
        <meta charset="utf-8">
        <meta name="robots" content="index, follow">

        {* mobile *}
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">

        {block socialTags}
        {/block}

        <link rel="alternate" type="application/rss+xml" title="Tomáš Votruba Blog RSS" href="/rss.xml">

        {* Font Awesome - locally for css classes autocomplete *}
        <link href="/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

        {* Twitter Bootstrap - locally for css classes autocomplete *}
        <link href="/assets/bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />

        <link href="/assets/css/style.css" rel="stylesheet" type="text/css" />

        {block additionalCss}
        {/block}
    </head>
    <body>
        {include "menu"}

        <div class="mainContent">
            {block content_wrapper}
                {block content}
                {/block}
            {/block}
        </div>

        {block additionalJavascript}
        {/block}

        {include "googleAnalytics"}
        {include "facebookPixel"}
    </body>
</html>
