<!DOCTYPE html>
<html lang="en">
    {% include "_snippets/head.twig" %}
    <body>
        {% include "_snippets/menu.twig" %}

        <div>
            {{ block content }}{/block}
        </div>

        {% include "_snippets/footer.twig" %}
    </body>
</html>
