<!DOCTYPE html>
<html>
    {include "head"}
    <body>
        {include "menu"}

        <div class="mainContent">
            {include content}
        </div>

        {include additionalJavascript}

        {include "footer"}
    </body>
</html>

{define content}
    <div class="container" id="post">
        <h1>{$post['title']|noescape}</h1>

        {include "postYouMightAlsoLike", "post" => $post}

        {include "postMetadataLine",
            "post" => $post,
            "showPullRequestLink" => TRUE,
            "showCommentCount" => TRUE
        }

        {if isset($post['deprecated'])}
            <br>

            <div class="panel panel-danger">
                <div class="panel-heading">
                    <strong>Content of this post is deprecated since {$post['deprecated_since']}</strong>
                </div>
                <div class="panel-body">
                    {$post['deprecated_message']|noescape}
                </div>
            </div>

            <br>
        {/if}

        {if isset($post['updated'])}
            <br>

            <div class="panel panel-success">
                <div class="panel-heading">
                    <strong>Content of this post was updated on {$post['updated_since']}</strong>
                </div>
                <div class="panel-body">
                    {$post['updated_message']|noescape}
                </div>
            </div>

            <br>
        {/if}

        <div class="panel panel-default">
            <div class="panel-body">
                {$post['perex']|noescape}
            </div>
        </div>

        {$post['content']|noescape}

        <hr>

        <div class="panel">
            <div class="panel-heading">
                <h3>{="post.you_might_also_like"}</h3>
            </div>
            <div class="panel-body">
                {capture $similarPosts}{$post|similarPosts: 3}{/capture}

                {foreach $similarPosts as $similarPost}
                    <li>{$similarPost['title']}</li>
                {/foreach}
            </div>
        </div>

        <hr>

        <h2>I Care about Your Opinion</h2>

        {include "disqusComments", 'post' => $post}
    </div>
{/define}


{block socialTags}
    {* Facebook sharing *}
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{$post['title']}" />
    <meta property="og:description" content="{$post['perex']|striptags}" />
    <meta property="og:url" content="{$site_url}/{$post['relativeUrl']}" />
    {ifset $post['thumbnail']}
        <meta property="og:image" content="{$site_url}/assets/images/posts/thumbnail/{$post['thumbnail']}" />
    {/ifset}

    {* Twitter sharing *}
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{$post['title']}" />
    <meta name="twitter:description" content="{$post['perex']|striptags}" />
    {ifset $post['thumbnail']}
        <meta name="twitter:image" content="{$site_url}/assets/images/posts/thumbnail/{$post['thumbnail']}" />
    {/ifset}
{/block}


{block additionalJavascript}
    <script src="/assets/prism/prism.js"></script>
    <script id="dsq-count-scr" src="https://{$disqus_shortname}.disqus.com/count.js" async defer></script>
{/block}


{block additionalCss}
    <link href="/assets/prism/prism.css" rel="stylesheet" type="text/css" />
{/block}
