<!DOCTYPE html>
<html lang="en">
    {include "head"}
    <body>
        <!-- post_id: {$post->getId()} -->

        {include "menu"}

        <div class="mainContent">
            {include content}
        </div>

        {include "footer"}
    </body>
</html>

{define content}
    <div class="container-fluid" id="post">
        <h1>{$post['title']|noescape}</h1>

        {include "postMetadataLine",
            "post" => $post,
            "showPullRequestLink" => TRUE,
            "showCommentCount" => TRUE
        }

        {if isset($post['deprecated'])}
            <div class="card border-danger card-bigger">
                <div class="card-header text-white bg-danger border-danger">
                    <strong>This post is deprecated since {$post['deprecated_since']}</strong>
                </div>
                <div class="card-body">
                    {$post['deprecated_message']|noescape}
                </div>
            </div>

            <br>
        {/if}

        {if isset($post['updated'])}
            <div class="card border-success card-bigger">
                <div class="card-header text-white bg-success border-success">
                    <strong>This post was updated on {$post['updated_since']}</strong>
                </div>
                <div class="card-body">
                    {$post['updated_message']|noescape}
                </div>
            </div>

            <br>
        {/if}

        <div class="card card-bigger">
            <div class="card-body">
                {$post['perex']|noescape}
            </div>
        </div>

        {$post['content']|noescape}

        <br>

        {include "postYouMightAlsoLike", "post" => $post}

        <div n:ifset="$post['tested']" class="mt-5 mb-5 card card-bigger">
            <div class="card-body">
                {capture $testDirectoryOnGithub}{$github_repository_tests_directory}/Posts/Year{$post->getDateInFormat('Y')}/{$post['test_slug']}{/capture}
                <p>
                    <strong>This Post is Tested, Make it Last Forever</strong>
                </p>

                <p>
                    The final code is tested (<a href="{$testDirectoryOnGithub}"><em class="fa fa-fw fa-github"></em>see it on Github</a>) and is the best solution in time being.
                </p>

                <p>
                    Thanks to tests this code:
                    <ul>
                        <li><strong>always run against the most recent dependencies</strong></li>
                        <li>will get updates with just a little work</li>
                        <li>will be useful for as long as possible</li>
                    </ul>
                </p>

                <p>
                    Read more <a href="https://pehapkari.cz/blog/2017/01/12/why-articles-with-code-examples-should-be-CI-tested">about tested posts as they're essential for post's lifetime</a>.</p>
                <p>
                    <strong>Without tests the post won't make it through next <a href="https://semver.org/#spec-item-8">major</a> release</strong> and it's long tail effect would spread obsolete practise.
                </p>
            </div>
        </div>

        <h3>What do you think?</h3>

        {include "disqusComments", 'post' => $post}
    </div>

    <script id="dsq-count-scr" src="https://{$disqus_shortname}.disqus.com/count.js" async defer></script>
{/define}


{block socialTags}
    {* Facebook sharing *}
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{$post['title']|replace:"&nbsp;", " "|replace:"&amp;", "&"}" />
    <meta property="og:description" content="{$post['perex']|striptags}" />
    <meta property="og:url" content="{$site_url}/{$post['relativeUrl']}" />

    {* Twitter sharing *}
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@votrubaT">
    <meta name="twitter:title" content="{$post['title']|replace:"&nbsp;", " "|replace:"&amp;", "&"}" />
    <meta name="twitter:description" content="{$post['perex']|striptags}" />
{/block}
