---
layout: default
title: Články o
generator: [posts_category_index, pagination]
pagination:
    provider: page.category_posts
---
{% block title %}{{ page.title }} "{{ page.category }}"{% endblock %}

{% block content %}

    <div class="page">
        <div class="container">
            <div class="main">
                <header class="page-header">
                    <h1>Přečti si o "{{ page.category }}"</h1>
                </header>

                {% for post in page.pagination.items %}
                    {{ include('partials/postPreview.twig', {'post': post}) }}
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock content %}
