

<script src="{{ asset('assets/js/jquery-3.3.1.slim.min.js') }}"></script>
<script src="{{ asset('assets/js/cleaning-lady-checklist.js') }}"></script>

{% include "_snippets/google_analytics.twig" %}

<script src="{{ asset('assets/prism/prism.js') }}"></script>

{#<div class="text-center mt-5" id="footer">#}

{#</div>#}
