<script src="{{ asset('assets/js/jquery-3.3.1.slim.min.js') }}"></script>
<script src="{{ asset('assets/js/cleaning-lady-checklist.js') }}"></script>

{# @see https://datatables.net/examples/styling/bootstrap4.html #}
{# sortable table in php framework trends #}
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>

{% include "_snippets/google_analytics.twig" %}

<script src="{{ asset('assets/prism/prism.js') }}"></script>

<script>
    // sortable table
    $('.sortable_table').DataTable({
        // see https://datatables.net/examples/basic_init/filter_only.html
        "searching": false,
        "paging": false,
        "info": false,
        "order": [[1, "desc"]],
        // see https://datatables.net/examples/advanced_init/sort_direction_control.html
        "aoColumns": [
            null,
            { "orderSequence": [ "desc", "asc" ] },
            { "orderSequence": [ "desc", "asc" ] },
            { "orderSequence": [ "desc", "asc" ] }
        ]
    });
</script>

<div class="text-center mt-5" id="footer">
    <p class="mt-2">
        Open-source is my life. Does it help yours? You can <a href="https://github.com/sponsors/TomasVotruba">Sponsor Me</a> &nbsp;
        <em class="fas fa-heart text-danger fa-lg"></em>

        &nbsp;
        <span class="pl-2 pr-2">•</span>
        &nbsp;

        See <a href="{{ path(constant('TomasVotruba\\Website\\ValueObject\\RouteName::BLOG_ARCHIVE')) }}">Post Archive</a>
    </p>

    <br>

    <p>
        Did you know my daily focus goes to <strong>turning working with legacy code into joy</strong>?

        <br>

        With awesome <a href="https://getrector.org/">Instant Refactoring tool called Rector</a>.
    </p>
</div>
