<form method="get" action="https://www.google.com/search" itemprop="potentialAction" itemscope="" itemtype="https://schema.org/SearchAction">
    <meta itemprop="target" content="https://www.google.com/search?q={q}"/>
    <input name="sitesearch" value="tomasvotruba.com" type="hidden"/>
    <input itemprop="query-input" type="text" id="search-query" class="form-control" required="required" name="q" placeholder="Search..." autocomplete="off"/>
</form>
