<div class="text-center">
    <a href="https://github.com/sponsors/TomasVotruba" class="btn btn-outline-light d-block mt-3 btn-outline-dark" id="support-me-button">
        Do you find <strong>these posts helpful</strong>?
        &nbsp;❤️ &nbsp;Support me on GitHub Sponsors&nbsp; <em class="fab fa-github fa-fw"></em>
    </a>
</div>
