{% extends "base.twig" %}

{% block content %}
    <div class="container-fluid" id="blog">
        <h1>{{ title }}</h1>

        In 2021 I wrote a book about Rector with my favorite PHP hero and renowned write <a href="">Matthias Noback</a>.

        ...

        see https://getrector.org/book
    </div>
{% endblock %}
