{% extends "base.twig" %}

{% block content %}
    <div class="container-fluid" id="blog">
        <h1>{{ title }}</h1>

        books

        see https://getrector.org/book
    </div>
{% endblock %}
