@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900|PT+Sans:400,700|PT+Serif:400&subset=latin,latin-ext");


.portrait-image img {
    margin-top: 2.85em;
    border: 1px solid #e0e5eb;
}

/* edu */
.edu-nette-logo {
    margin-top: 1em;
    width: 14em;
}


/* reset */
.portrait-box {
    /*background-image: none;*/
    /*border: none;*/
}


.btn-primary, .btn-primary:active {
    background-color: #08c;
    border-color: #08c;
}

.btn-primary:hover {
    background-color: #0af;
    border-color: #0af;
}


pre {
    border: none;
    border-radius: 2px;
}


.blog-post img {
    border-radius: 2px;
}


/* true colors */
.navbar {
    background-color: #08c;
}

.navbar-default {
    border-color: #0af;
}

.navbar-default .navbar-nav > li > a {
    color: #87CEFA;
}

.logo {
    margin-left: -1.6em;
    font-size: 1.3em;
}

.navbar-default .navbar-nav > li.logo a {
    color: #FFF;
    font-weight: 600;
}

.page-header h1 {
    color: #08c;
}

a {
    color: #64991a;
}

a:hover {
    color: #8CD02C;
}

