ul.checklist {
    margin-left: -3em;
}

.checklist li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* used from http://phppackagechecklist.com/css/all.css */

.checklist__item {
    position: relative;
}
.checklist__input {
    display: none;
    user-select: none;
}

.checklist__label {
    margin-left: 1em;
    margin-top: -0.2em;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    cursor: pointer;
    user-select: none;
    color: #DDD;
}

.checklist__input ~ .checklist__label:hover {
    color: #529963;
}

.checklist__input:checked ~ .checklist__label {
    color: #529963;
}

.checklist__input:checked ~ .checklist__label:hover {
    color: #498858;
}

.checklist__details {
    display: block;
    margin: 0;
    padding: 0 .5em 0 3.5em;
}
