/*
- black + purple
- http://www.colourlovers.com/palette/85900/Midnight_Sex

- grey: color: rgba(39,58,75,.97);
- darkest-purple: #341931;
- darker-purple: #571B3C;
- lighter-purple: #7A1E48;
- lightest-purple: #9D2053;
*/

body {
    font-family: system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;

    color: #333;
    font-size: 18px;
    line-height: 1.5em;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
    margin-bottom: 3em;
}

/*!* Typography *!*/
h1, h2, h3 {
    font-weight: bold;
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: 'Source Sans Pro',"Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1 a,  h1 a:focus, h2 a, h2 a:focus, h3 a, h3 a:hover {
    text-decoration: underline;
}

h1 a:hover, h2 a:hover,  h3 a:focus {
    text-decoration: none;
}

h2 {
    font-size: 1.9em;
    margin: 1.7em 0 .4em;
}

h3 {
    font-size: 1.5em;
    margin: 1.2em 0 .4em;
    /*font-weight: 300;*/
}

h1 {
    /*font-weight: 600;*/
    margin: .9em 0 .6em 0;
    font-size: 2em;
    line-height: 1.3em;
    text-align: center;
    padding-bottom: 1em;
}

h1, h2, h3 {
    color: rgba(39,58,75,.97);
}

h2 {
    line-height: 1.3em;
}

h3 a, h2 a, a, h2 a:active, h3 a:active, a:active {
    color: rgba(26, 137, 23, 1);
    text-decoration: underline;
}

h3 a:hover, h2 a:hover, a:hover, h3 a:focus, h2 a:focus, a:focus {
    color: rgba(15, 115, 12, 1);
    text-decoration: none;
}

a:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

hr {
    margin: 1.2em 0;
    border: 0;
    border-top: 1px solid #eeeeee;
}

p {
    margin-bottom: .5em;
}

ul {
    margin-top: 0;
    margin-bottom: .5em;
}

#menu {
    /*background-color: #24292e;*/
    font-size: 1.1em;
    padding: 1.5em 0;
    margin-bottom: 2em;
    /*color: #ddd;*/
    border-bottom: 5px solid #333;
}

@media (min-width: 768px) {
    .container {
        max-width: 100%;
    }

    .container-fluid {
        max-width: 100%;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }

    .container-fluid {
        max-width: 960px;
    }
}

pre {
    border: none;
    border-radius: 2px;
}

.card-bigger {
    font-size: 1.1em;
    margin-top: .8em;
    margin-bottom: .8em;
    line-height: 1.6em;
}

.card#relatedPosts .card-body {
    padding: .7em 0 .3em 0;
    line-height: 2em;
}

code {
    font-size: .9em;
    color: #07a;
}

code[class*="language-"],
pre[class*="language-"] {
    margin-top: .8em;
    margin-bottom: 1.4em;
    font-size: 1em;
}

/* article helpers */
.bigger {
    font-size: 1.2em;
    line-height: 1.6em;
}

img {
    max-width: 100%;
}

pre {
    font-size: 1em;
    background-color: #fdf6e3;
    padding-bottom: 1em;
    padding-left: 1em;
    overflow: auto;
    word-wrap: normal;
    white-space: pre;
    border-radius: 6px;
}

.shadow {
    box-shadow: 1px 2px 15px -2px rgb(0 0 0/20%);
}

.card-normal .card-body p {
    line-height: 1.5em;
}

.card-normal ul {
    padding-left: 1em;
}

/* prism remove color in diff */
.token.deleted {
    color: #980707;
    background: #fdd;
}

/* prism remove color in diff */
.token.inserted {
    color: #488b3a;
    background: #dfd;
}

.blockquote {
    margin-bottom: 2em;
    margin-top: 2em;
    line-height: 1.6em;
    font-size: 1.4em;
}

/* style in cards */
.pull-right {
    float: right;
}

#content h1 {
    margin-top: 1.5em;
    margin-bottom: 1.3em;
}

.post, .cluster {
    font-size: 1.2rem;
    /* inspiration https://christoph-rumpel.com/2020/8/refactoring-php */
    /*font-family: system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;*/

    line-height: 1.6em;
}

/* default post setting */
#blog .firstPost {
    font-size: 3.3em;
    /*font-weight: 300;*/
    margin-top: 1em;
    margin-bottom: 1em;
}

#post img {
    text-align: center;
    margin: .5em auto 1.5em auto;
}

h1 {
    font-size: 3.2rem;
}

/* @see https://stackoverflow.com/a/50174132/1348344 */
.container li {
    margin-bottom: .4em;
}

.container li:last-child {
    margin-bottom: 0;
}

.container ul {
    padding-left: 1.2em;
}

.container ul li {
    line-height: 1.6em;
}

/* clusters - list override */
ul.line-separated > li:not(:last-child) {
    border-bottom: 1px solid #EEE;
    padding-bottom: 1.3em;
    margin-bottom: 1.3em;
}

.me_avatar {
    border-radius: 2px;
    border-style: none;
    height: 28px;
    width: 28px;
    margin-right: .5em;
    margin-top: -.2em;
}

table ul {
    margin-left: 1em;
    padding-left: 0;
}

#footer {
    background: #24292e;
    color: hsla(0,0%,100%,.9);
    padding: 2em 0;
    line-height: 2.2em;
}

#footer a {
    color: white;
    text-decoration: underline;
}

#footer a:hover {
    color: #DDD;
    text-decoration: none;
}

/*@media (max-width: 768px) {*/
/*    #blog .firstPost, #post h1 {*/
/*        font-size: 2.3em;*/
/*        !*font-weight: 300;*!*/
/*        margin-top: .8em;*/
/*        margin-bottom: .5em;*/
/*    }*/
/*}*/

.btn {
    cursor: pointer;
}

#clusters .post-title {
    font-size: 1.2em;
}

#post p.text-muted {
    font-size: 0.9em;
    padding-top: .6em;
    padding-bottom: .2em;
}

#client-line {
    padding-top: .5em;
    padding-bottom: 1.5em;
}

.cluster thead {
    background: rgba(0,0,0,.03);
}

#clusters a.btn-success {
    color: white;
}

#clusters a.btn-outline-secondary:hover {
    color: white;
}

.alert-sm {
    font-size: 0.9em;
}

.thead-inverse th h3 {
    color: #DDD;
    margin: 0;
    font-size: 2em;
    line-height: 1.7em;
}

.small {
    font-size: .8em;
}


.thead-inverse a, .thead-inverse a:visited, #content .thead-inverse a:visited:not(.btn):not(.badge), .badge-info a, .badge-info a:visited {
    color: #DDD;
    text-decoration: underline;
    /*font-weight: normal;*/
}

.thead-inverse a:hover, .badge-info a:hover {
    color: white;
    text-decoration: none;
}

/* @see https://stackoverflow.com/a/48309999/1348344 */
nobr {
    white-space: nowrap;
    hyphens: none;
}

.bg-success a, .bg-success a:active {
    color: white;
    text-decoration: underline;
}

.bg-success a:focus, .bg-success a:hover {
    color: white;
    text-decoration: none;
}

a.btn-dark, a.btn-dark:active {
    color: #FFF;
}

q {
    padding: .6em 0 .6em 0;
    font-size: 1.3em;
}

a.btn:hover {
    text-decoration: none;
}

a.btn {
    line-height: 1.6em;
}

.post-list-title {
    font-size: 1.4em;
    line-height: 1.8em;
}

.text-bigger {
    font-size: 1.3em;
    line-height: 1.5em;
}

.text-smaller {
    font-weight: normal;
    font-size: 0.8em;
}

.btn-sm {
    font-size: .9em;
}
