<div class="hireMe card border-info">
    <div class="card-body bg-info text-white text-center">
        <a href="/contact">
            Do you like what I write about? <strong>Hire me and I'll do it for you!</strong>
        </a>
    </div>
</div>
