{% set relatedPosts = post|relatedItems %}

{% if relatedPosts|length %}
    <hr class="mt-4 mb-5">

    <h3 class="text-center">Related Posts You Might Find Useful</h3>

    <ul class="mt-4 list-unstyled">
        {% for relatedPost in relatedPosts %}
            <li class="mb-3 col-md-12">
                <a href="/{{ post.relativeUrl }}/">{{ post.title|raw }}</a>
                {% include "_snippets/post/postMetadataLine.twig" with { post: post } %}
            </li>
        {% endfor %}
    </ul>

    <br>
    <br>
{% endif %}
