{% set relatedPosts = post|relatedItems %}

{if count($relatedPosts)}
    <hr class="mt-4 mb-lg-5">

    Do you want more on this topic? You might like these <strong>related posts</strong>:

    {foreach $relatedPosts as $relatedPost}
        <a href="/{{ relatedPost.relativeUrl }}">{{ relatedPost.title | replace:"&nbsp;", " "|replace:"&amp;", "&" }}</a>{% if loop.last == false %}, {% endif %}
    {/foreach}

    <br>
    <br>
{/if}
