<article class="blog-post">
    {*<header>*}
        <a href="{$post['relativeUrl']}">
            <h2>{$post['title']}</h2>
        </a>

        {ifset $post['thumbnail']}
            <meta content="/assets/images/posts/thumbnail/{$post['thumbnail']}" property="og:image" />
        {/ifset}

        {include "postMetadataLine", post => $post}
    {*</header>*}

    <p n:ifset="$showPerex">{$post['perex']|noescape}</p>
</article>
