<ul class="list-inline">
    <li class="list-inline-item mr-3">
        <time datetime="{{ post.getDateTime|date('Y-m-D') }}">
            {% if post.updatedAt is not null %}<strike>{% endif %}

            {{ post.getDateTime|date('Y-m-d') }}

            {% if post.updatedAt is defined %}</strike>{% endif %}
        </time>
    </li>

    {% if post.updated %}
        <li class="list-inline-item mr-3">
            <em class="fas fa-fw fa-sync"></em> Updated {{ post.updatedAt|date('Y-m-d') }}
        </li>
    {% endif %}

    {% if show_edit_link is defined %}
        <li class="list-inline-item mr-3 text-primary pull-right">
            <a href="{{ post.gitHubEditUrl }}">Found a typo? Edit me</a>
        </li>
    {% endif %}
</ul>
