{% extends "base.twig" %}

{% block content %}
    <div class="container">
        <h1>Bank Connection</h1>

        <h2>Czech Companies</h2>
        <p>
            FIO: 2401087791/2010
        </p>

        <h2>International</h2>
        <p>
            IBAN: CZ4620100000002401087791<br>
            SWIFT/BIC: FIOBCZPPXXX
        </p>
    </div>
{% endblock %}
