{% extends "base.twig" %}

{% block content %}
    <div class="container">
        <h1>Bank Account</h1>

        <div class="row">
            <div class="col-12 col-sm-6">
                <p>
                    FIO: 2401087791/2010
                </p>
                <p>
                    IBAN: CZ4620100000002401087791<br>
                    SWIFT/BIC: FIOBCZPPXXX
                </p>
            </div>
        </div>
    </div>
{% endblock %}
