{% extends 'base.twig' %}

{% block content %}
    <div class="container-fluid cluster">
        <h1>{{ title }}</h1>

        <div class="card card-bigger mb-5">
            <div class="card-body pb-3">
                What is monorepo? How can you use it to speed up your packages' and projects' development? How to run your own monorepo in 10 minutes?
            </div>
        </div>

        {% include "_snippets/post/post_list.twig" with { posts: posts } %}
    </div>

    <br>
{% endblock %}
