# use in a template as {$disqusShortname} etc.
disqusShortname: itsworthsharing


# Statie configuration
configuration:
    postRoute: blog/:year/:month/:day/:title
    githubRepositorySlug: TomasVotruba/tomasvotruba.cz
    markdownHeadlineAnchors: TRUE
