# use in a template as {$disqusShortname} etc.
disqusShortname: itsworthsharing
googleAnalyticsTrackingId: "UA-46082345-1"
fbTrackingId: "201338863559186"
siteTitle: Tomáš Votruba # - Nette a Symfony školení
siteUrl: "http://www.tomasvotruba.cz"
blogPostOnHomepageCount: 3

# Statie configuration
configuration:
    postRoute: blog/:year/:month/:day/:title
    githubRepositorySlug: TomasVotruba/tomasvotruba.cz

# translations
lang: cs
