reviewers:
    1:
        name: Pavel Janda
        github_username: "@paveljanda"
    2:
        name: "Martina Hynková"
        github_username: "@mahyn89"
    3:
        name: "Petr Vácha"
        github_username: "@petrvacha"
    4:
        name: "Kačka Bláhová"
    5:
        name: "Tomáš Pilař"
        githuber_username: "@TomasPilar"
    6:
        name: Svaťa Šimara
        github_username: "@simara-svatopluk"
    7:
        name: Jakub Kratina
        github_username: "@jakubkratina"
    8:
        name: Jáchym Toušek
        github_username: "@enumag"
    9:
        name: Martin Zlámal
        github_username: "@mrtnzlml"
    10:
        name: Tomáš Jacík
        github_username: "@foxycode"
