{% extends "base.twig" %}

{% block content %}
    <div class="container">
        <h1>{{ title }}</h1>

        <p class="text-center bigger">What is the best way to reach me?</p>

        <div class="row mt-4 mb-5 ml-sm-0 ml-md-5">
            <div class="col-8 pt-md-3 pt-lg-3 pl-md-4 pl-lg-5">
                The best way to reach me is direct real-time call: <a href="tel:+420776778332">+420 <strong>776 778 332</strong></a>. If you won't hear from me till next day, send me SMS and I'll call you.

                When? Workdays between 2-6 PM.

                <hr>

                Are you shy to call just for 2 minutes? I love to talk in real-time, so don't worry and call me.

                <hr>

                If you can wait week or two or live in completely different time-zone, I have an email:
                <a href="mailto:tomas.vot@gmail.com">tomas.vot@gmail.com</a>
            </div>
        </div>

        <br>
    </div>
{% endblock %}
