{% extends "base.twig" %}

{% block content %}
    <div class="container">
        <h1>{{ title }}</h1>

        <h2>I Prefer Calls</h2>

        <h3>
            <a href="tel:+420776778332">+420 <strong>776 778 332</strong></a>
        </h3>

        <br>

        <p>
            3 minutes of real-time chat beats 10-emails ping-pong spread across couple of weeks.
        </p>
        <p>
            Do you want to <strong>get work done</strong>, <strong>ask a question</strong> or have a friendly chat? Call me.
            <br>
            I pick up or reply the moment I'm available. If you won't hear from me next day, ping me via SMS.
        </p>

        <hr class="mt-5">

        <h2>Over Email</h2>
        <h3>
            <a href="mailto:tomas.vot@gmail.com">tomas.vot@gmail.com</a>
        </h3>

        <br>

        <p>
            Can you wait a week for reply or are you in an inversed time-zone? For these cases, please use an email.
        </p>
    </div>
{% endblock %}
