{% extends "base.twig" %}

{% block content %}
    <div class="container" id="contact">
        <h1>{{ title }}</h1>

        <p class="text-center bigger">
            Do you need my services? We can start today:
        </p>

        <div class="row mt-4 mb-5 ml-sm-0 ml-md-5 " id="contact-points">
            <div class="col-3 col-sm-3">
                <img src="https://avatars1.githubusercontent.com/u/924196?s=400&v=4" class="avatar-bigger">
            </div>
            <div class="col-8 pt-md-3 pt-lg-3 pl-md-4 pl-lg-5">
                <em class="fas fa-phone fa-fw"></em>
                    &nbsp;
                <a href="tel:+420776778332">+420 <strong>776 778 332</strong></a>

                <div class="when">Any workday <strong>between 10 AM and 5 PM</strong></div>

                <div class="mt-4">
                    <em class="fas fa-envelope fa-fw"></em>
                &nbsp;
                    <a href="mailto:tomas.vot@gmail.com">tomas.vot@gmail.com</a>
                </div>
            </div>
        </div>

        <br>
        <br>
        <br>

        <div class="mt-5 text-smaller">
            I'm registered at Licensing Authority Liberec under <a href="https://rejstrik.penize.cz/ares/01241451-tomas-votruba">IČO 01241451</a><br>
        </div>
    </div>
{% endblock %}
