{% extends 'base.twig' %}


{#
    quotes:
    "clean code is a code, that junior and senior can understand in the same amount of time"
    https://twitter.com/votrubat/status/1275863668878688257
#}


{% block content %}
    <div class="container-fluid">
        <h1>Hi, I'm Tomas Votruba and I help PHP companies to change fast and safe</h1>

        <div class="float-left mr-5" style="max-width: 10em">
            <img src="https://avatars1.githubusercontent.com/u/924196?s=400&v=4" class="avatar-bigger rounded-circle shadow">
        </div>

        <div class="text-bigger">
            <p>
                I'm a <a href="{{ path(constant('TomasVotruba\\Website\\ValueObject\\RouteName::TRAININGS')) }}">trainer</a>,
                <a href="{{ path(constant('TomasVotruba\\Website\\ValueObject\\RouteName::BLOG')) }}">blogger</a> and <a href="http://github.com/TomasVotruba">open-source developer</a>.
            </p>

            <p>
                My passion and daily work is to tidy up code, cut out frictions and remove the weakest parts. These are the parts that slowly pile up to legacy dept that is hard to pay. I love to connect with people and improve their daily lives.
            </p>
            <p>
                To make this happen faster and in scale, I created <a href="http://github.com/rectorphp/rector">Rector</a> - a PHP CLI tool for instant upgrades and automated refactoring.
                <br>
            </p>

            <div class="text-center mt-5 mb-5">
                <img src="https://github.blog/wp-content/uploads/2020/09/github-stars-logo_Color.png" style="max-width: 3em" class="m-auto" alt="">
            </div>

            <p>
                I live open-source so much, that <a href="https://github.blog/2020-09-03-introducing-the-github-stars-program/">GitHub awarded me</a> as one of 100 GitHub Stars.
            </p>
        </div>



        <blockquote class="blockquote text-center">
            "If you don't want to do something, you'll find an excuse.<br>
            If you do, you'll find a way."
        </blockquote>

        <div class="clearfix"></div>

        <div class="card border-warning mt-5">
            <div class="card-body">
                <strong>May, 2021</strong>: Do you want improve quality of your project and remove in-effective processes?
                <br>
                I'm looking for a new opportunity for 10-20 hours/week. <a href="/contact">Contact me</a>, maybe we'll have a match.
            </div>
        </div>
    </div>
{% endblock %}
