{% extends 'base.twig' %}


{#
    quotes:
    "clean code is a code, that junior and senior can understand in the same amount of time"
    https://twitter.com/votrubat/status/1275863668878688257
#}


{% block content %}
    <div class="container-fluid" id="blog">
        <div class="mt-5 mb-2 subline text-center">
            Hi, I'm Tomas Votruba and I help PHP companies to make change happen faster and safer.
        </div>

        <img src="">
        <div class="col-3 col-sm-3">
            <img src="https://avatars1.githubusercontent.com/u/924196?s=400&v=4" class="avatar-bigger">
        </div>

        <p>
            My passion is to tidy up code, cut out frictions and remove the weakest parts that. I believe end junior should understand logic from the code. I love reconstructions of huge old projects to a brand new architecture with modern and smooth code. To open this experience to any developers, I created an instant upgrade tool called <a href="http://github.com/rectorphp/rector">Rector</a> in 2017.
            <br>

        <div class="card border-success ">
            <div class="card-body">
                May, 2021: I'm open to new opportunity for 20 hours/week. <a href="/contact">Contact me</a> with your project to find a match.
            </div>
        </div>

        <p class="mt-2">
            I live open-source so much, that <a href="https://stars.github.com/profiles/tomasvotruba/">GitHub awarded me</a> as one of 100 GitHub Stars.
        </p>

                {#                        <img src="https://avatars1.githubusercontent.com/u/924196?s=60&v=4" class="me_avatar">#}
                Tomas Votruba
                </a>

                {#        #}
                {#        #}
                {#        <em class="fas fa-heart text-danger fa-lg"></em>#}

                {#        &nbsp;#}
                {#        <span class="pl-2 pr-2">•</span>#}
                {#        &nbsp;#}

                {#        See <a href="{{ path(constant('TomasVotruba\\Website\\ValueObject\\RouteName::BLOG_ARCHIVE')) }}">Post Archive</a>#}

                {#        &nbsp;#}
                {#        <span class="pl-2 pr-2">•</span>#}
                {#        &nbsp;#}

                {#        <a href="{{ path(constant('TomasVotruba\\Website\\ValueObject\\RouteName::RSS')) }}">Get RSS</a>#}
            </p>
        </div>

        <br>
    </div>
{% endblock %}

