{% extends "layout/layout_base.twig" %}

{% block content %}
    <div class="container" id="contact">
        <h1>Legal Information</h1>

        I'm registered at Licensing Authority Liberec under <a href="https://rejstrik.penize.cz/ares/01241451-tomas-votruba">ICO 01241451</a>.
    </div>
{% endblock %}
