<div id="client-line">
    <h2 class="text-center pb-3">Don't Take My Word for it - Ask Happy Clients</h2>

    <div class="text-center row mt-3 mb-3">
        {% for logo, url in helped_companies %}
            <div class="align-self-center col-md-2 col-sm-4 col-4 border-0 pt-md-0 pb-md-0 pt-2 pb-2">
                <a href="{{ url }}">
                    <img src="/assets/images/references/{{ logo }}" alt="">
                </a>
            </div>
        {% endfor %}
    </div>
</div>

<p class="text-center mt-5">
    <em>Do you want to join them?</em>
</p>
<p class="text-center">
    <a href="/contact/" class="btn btn-success mt-2 mb-2">
        &nbsp;Write me
        <em class="fas fa-arrow-circle-right fa-fw"></em>
    </a>
</p>
