---
layout: default
title: Blog
generator: pagination
use:
    - posts
    - posts_categories
id: blog
---
<div class="page">
    <div class="container">
        <div class="main">
            <header class="page-header">
                <h1>Extrakt znalostí pro vaše radosti</h1>
            </header>

            {% for post in data.posts %}
                {{ include('partials/postPreview.twig', {'post': post}) }}
            {% endfor %}
        </div>
    </div>
</div>
