---
layout: default
title: Přečti si o Symfony a programování
use:
    - posts
id: blog
---

<div class="page">
    <div class="container">
        <header class="page-header text-center">
            <h1>{{ page.title }}</h1>
            <br>
        </header>

        <div class="main">
            <p>
                <a href="{{ site.url }}/atom.xml" class="btn btn-primary">
                    <em class="fa fa-rss fa-fw"></em>
                    Hod si mě do RSS čtečky&nbsp;
                </a>
            </p>

            {% for post in data.posts %}
                {{ include('partials/postPreview.twig', {'post': post}) }}
            {% endfor %}

            <br>
            <br>

            <p>
                <a href="{{ site.url }}/atom.xml" class="btn btn-primary">
                    <em class="fa fa-rss fa-fw"></em>
                    Hod si mě do RSS čtečky&nbsp;
                </a>
            </p>
        </div>
    </div>
</div>
