---
layout: default
title: Extrakt znalostí
use:
    - posts
id: blog
---

<div class="page">
    <div class="container">
        <div class="main">
            <header class="page-header">
                <h1>Extrakt znalostí</h1>
            </header>

            {% for post in data.posts %}
                {{ include('partials/postPreview.twig', {'post': post}) }}
            {% endfor %}
        </div>
    </div>
</div>
