---
layout: "_layouts/default.latte"
title: "Read about PHP, Symfony & Coding Standards"
id: blog
---

{block content}
    <!-- redirect from blog to index page -->
    <meta http-equiv="refresh" content="0; url=/" />
{/block}
