---
layout: "_layouts/default.latte"
title: Save Dozens of Trial-Errors
id: price
---

{block content}
    <!-- redirect from Czech deprecated page to new English page alternatie -->
    <meta http-equiv="refresh" content="0; url=/contact/" />
{/block}
