---
layout: default
title: Na kolik vás to vyjde
id: price
---
<div class="container">
    <div class="page">
        <div class="main" id="references">
            <header class="page-header text-center">
                <h1>{{ page.title }}</h1>
                <br>
            </header>

            <h2>Pro firmy</h2>

            <p>
                Školení zajistím přímo u vás ve firmě. Obsah přizpůsobím na míru dle požadavků, vašich zkušeností a priorit.
            </p>

            <ul>
                <li>počet účastníků není omezen a nemá na cenu vliv</li>
                <li>dojedu kamkoliv po ČR a SR</li>
                <li>můžeme se dohodnout, že mezi školícími dny budou přestávky - pro účastníky je tak snazší nechat znalosti usadit a školení tak má z dlouhodobého hlediska větší dopad</li>
                <li> konzultace i školení - cokoliv potřebujete, přímo na míru</li>
            </ul>

            <p>Cena za jeden den školení je 20 000 Kč vč. DPH. Mým klientům obvykle stačí 2-3 dny.</p>

            <hr>

            Potřebujete jen krátkou konzultaci? Jsem k dispozici za 1500 Kč za hodinu.

            <hr>

            <h2>Pro živnostníky nebo programátory</h2>

            <p>
                Děláš weby na volné noze a potřebuješ doplnit pár znalostí?
                <br>
                Mé znalosti jsou ti k dispozici za 800 Kč za hodinu.
            </p>

            <hr>

            <div class="text-center">
                <p>
                    Potřebujete více informací nebo si chcete školení rovnou objednat?<br>
                </p>

                <a href="{{ site.url }}/kontakt" class="btn btn-primary">
                    &nbsp;Napište mi
                    <em class="fa fa-arrow-circle-o-right fa-fw"></em>
                </a>
            </div>

            <hr>
        </div>
    </div>
</div>
