---
layout: "_layouts/default.twig"
title: "Get in Touch"
id: contact
---

{% block content %}
    <div class="container" id="contact">
        <h1>{{ title }}</h1>

        <p class="text-center bigger">
            Let me invite you to a great coffee and let's see <strong>how we can help each other</strong> →
        </p>

        <div class="bigger row mt-5 mb-5">
            <div class="col-md-6 text-center">
                <em class="fas fa-phone fa-fw"></em>
                &nbsp;
                <a href="tel:+420776778332">+420 <strong>776 778 332</strong></a>
            </div>
            <div class="col-md-6 text-center">
                <em class="fas fa-envelope fa-fw"></em>
                &nbsp;
                <a href="mailto:info@tomasvotruba.cz">info@tomasvotruba.cz</a>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <p class="text-center card-text">
                    Are you in Europe? Perfect! I can reach you from <strong>Prague</strong>, my hometown
                </p>

                <div class="mt-3">
                    <a href="https://www.google.com/maps/search/prague/">
                        <img src="/assets/images/map-europe-prague.png" alt="Central Europe Prague">
                    </a>
                </div>
            </div>
        </div>

        <div class="ico-note mt-5">
            I'm registered at Licensing Authority Liberec under <a href="http://rejstrik.penize.cz/ares/01241451-tomas-votruba">IČO 01241451</a><br>
            BA: 670100-2204286038/6210<br>
            IBAN: CZ0562106701002204286038 | SWIFT/BIC: BREXCZPPXXX
        </div>
    </div>
{% endblock %}
