---
layout: "_layouts/default.twig"
title: "Czech Posts"
id: blog
---

{% block content %}
    <div class="container-fluid" id="blog">
        <h1>Czech Posts</h1>

        <div class="row">
            {% for post in posts %}
                {continueIf ! isset(post['deprecated']) || ! isset($post['lang']))

                {% include "_snippets/post/singlePostPreview.twig" with { post: post } %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
