---
layout: "_layouts/default.twig"
title: "Czech Posts"
id: blog
---

<div class="container-fluid" id="blog">
    <h1>Czech Posts</h1>

    {# get only czech posts #}
    {% set active_posts = [] %}
    {% for post in posts if post.lang is defined %}
        {% set active_posts = active_posts|merge([post]) %}
    {% endfor %}

    {% include "_snippets/post/post_list.twig" with { posts: active_posts } %}
</div>
