---
layout: "_layouts/default.twig"
title: "Deprecated Posts"
id: blog
---

{% block content %}
    <div class="container-fluid" id="blog">
        <h1>Deprecated Posts</h1>

        <div class="row">
            {% for post in posts %}
                {% if post.deprecated is defined and post.lang is not defined %}
                    {% include "_snippets/post/singlePostPreview.twig" with { post: post } %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
