---
layout: "_layouts/default.latte"
title: "Deprecated Posts"
id: blog
---

{block content}
    <div class="container-fluid" id="blog">
        <h1>Deprecated Posts</h1>

        <div class="row">
            {foreach $posts as $post}
                {continueIf ! isset($post['deprecated']) || isset($post['lang'])}

                {include "_snippets/post/singlePostPreview.latte", post => $post}
            {/foreach}
        </div>
    </div>
{/block}
