---
layout: default
title: Chcete první info schůzku zdarma? Stačí 1 klik!
id: contact
---
<div class="container">
    <div class="page">
        <div class="main">
            <div class="row" id="contact-lead">
                <div class="col-md-12">
                    <header class="page-header text-center">
                        <h1>{{ page.title }}</h1>
                        <br>
                    </header>

                    <p class="text-center">
                        <em class="fa fa-envelope-o fa-fw"></em>
                        &nbsp;
                        <a href="mailto:info@tomasvotruba.cz">info@tomasvotruba.cz</a>
                        <br>
                        <em class="fa fa-phone fa-fw"></em>
                        &nbsp;
                        <a href="tel:+420776778332">+420 776 778 332</a>
                    </p>
                </div>
            </div>

            <hr>

            <div class="row">dzdělávání na Twitteru na <a href="https://twitter.com/votrubat">@votrubaT</a>
                        <br>
                        a profesní kariéru eviduju na <a href="https://www.linkedin.com/in/jsemtomasvotruba">LinkedInu</a><br>
                    </p>
                </div>
            </div>

            <br>

            <hr>

            <div class="row">
                <div class="col-sm-12">
                    <h3>Jak podnikám?</h3>
                    <p>
                        Jsem neplátce DPH a mé IČ je: <a href="http://wwwinfo.mfcr.cz/cgi-bin/ares/darv_rzp.cgi?ico=1241451&jazyk=cz&xml=1&rozsah=0">1241451</a><br>
                        Dotace posílejte na: 670100-2204286038/6210 (mBank)
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
