---
layout: default
title: "Do You Want to Reach Me Out? You Are Just 1 Click Away"
id: contact
---

{block content}
    <!-- redirect to new page -->
    <meta http-equiv="refresh" content="0; url=/contact/" />
{/block}
