---
layout: "_layouts/default.twig"
title: "The Mission"
id: mission
---

{% block content %}
    <div class="container" id="mission">
        <h1 class="text-center mb-4">
            My Mission
        </h1>

        <p class="bigger mb-4">
            I want every person in the world to be able learn anything, from people around them and share their wisdom with other. No matter what age, social status or skill you have, I believe you can learn anything you ste your mind to. I love to question old habits to find disruptive innovations.
        </p>

        <p>
            I connect psychology and informatics, I help code to look more human and programmers to look at code from future perspective. In the end I help my clients to be effective, lazy and future-proof. They know how to hack education, online sources and learn most out of their natural environment. I look forward to future, when AI will need first therapy to fix broken behavior.
        </p>

        <p>
            I don't believe people  need to know more and memorize knowledge. I believe everyone is best teacher to his own and he or she already has all they need. I just help them to re-discover it and use it on daily basis.
        </p>

        <hr>

        <h2>1:1 Mentorings</h2>

        <p>
            100 % attention, [deep attention](/blog/2017/09/25/3-non-it-books-that-help-you-to-become-better-programmer/#deep-work-by-cal-newport) focused on single person and his or her problem (and questions). That's what we miss today. That's why I don't do crowd lecture, but **1:1 mentorings**.

            <br>
            Don't you have time to read? Let's meet on <strong>1:1 mentoring</strong> where you'll get  all my know-how you ask for.
        </p>



        <h2 class="text-center mb-4">Continues Education - 60 minutes / week </h2>

        <ul>
            <li>60-minute mentorings & code-reviews</li>
            <li>once a week</li>
            <li>1 hour</li>
            <li>collect notes during a week</li>
            <li>person-driven - you ask the questions, you want to know</li>
            <li>learn the most useful skill you need at the moment</li>
            <li>get 100 % attention for fraction of time and money of day-workshop</li>
        </ul>

        <div class="card bg-success">
            1500 Kč/65 € per. hour
        </div>


        <p>Do you want me in your company? I do in-house lectures too, <a href="/contact">just call me</a>.</p>

        {#<h2>Ger Your Personal PHP Mentor</h2>#}

        {#<p>I can help you with anything <a href="/">I write about</a>.#}


        {# todo here #}
        <div class="row">
            <div class="col-6">
                <h2>Hard skills</h2>

                <hr>

                <h2 class="text-center mb-4">What can I Mentor You?</h2>

                <h3>Symfony</h3>

                <ul class="mt-4 mb-4">
                    <li>
                        <strong>{{ "now"|date('Y')-2014 }} years</strong> of experience
                    </li>
                    <li>version Symfony 3.4 & 4.2, Flex</li>
                    <li>migration of legacy projects to autodiscovery</li>
                    <li>from bundles to bundle-less, but still organized code</li>
                    <li>over <a href="/">30 posts</a> on my blog</li>
                    <li>over <a href="https://stackoverflow.com/users/1348344/tom%C3%A1%C5%A1-votruba">115 answer</a> on Stackoverflow</li>
                </ul>

                <h3>Keep Growing Systems Simple with Clear Code Organization</h3>

                <ul class="mt-4">
                    <li>How to <strong>refactor legacy code</strong></li>
                    <li><strong>SOLID principals</strong> and <strong>design patterns</strong> in real life <strong>examples</strong></li>
                    <li>coding standard setup not just for spaces, but for architecture control to save time at code-reviews</li>
                    <li>How to <strong>save time with static analysis</strong>: <a href="/blog/2017/08/07/7-new-features-in-easy-coding-standard-22/">EasyCodingStandard</a></li>
                </ul>

            </div>
            <div class="col-6">
                <h2>Soft skills</h2>

                - write a post
                - get a job you'll love
                - get money for the job you deserver
            </div>
        </div>


        {#<h3>Instant Upgrade of Legacy Code</h3>#}

        {#<ul>#}
            {#<li>AST refactoring</li>#}
            {#<li>embodied knowledge - use tools to prevent your code from becoming legacy over again</li>#}
        {#</ul>#}

        <h3>Don't take my word for it</h3>

        On my blog I make this mission happen along with 17 000 readers.

        {{ include('_snippets/mission/client_line.twig') }}

        {#<div class="card mb-5">#}
            {#<div class="card-header text-center">#}
                {#<h2 class="card-title">#}
                    {#<em class="fas fa-dollar-sign"></em>#}
                    {#&nbsp;#}
                    {#How to Get a Job You'll Love#}
                {#</h2>#}
            {#</div>#}
            {#<div class="card-body">#}
                {#<ul>#}
                    {#<li>What are the <strong>most effective strategies</strong> to find a job you desire</li>#}
                    {#<li>How to <strong>sell yourself</strong></li>#}
                    {#<li>How <strong>master negotiation</strong> with your employer</li>#}
                {#</ul>#}
            {#</div>#}
        {#</div>#}
    </div>
{% endblock %}