---
layout: "_layouts/default.twig"
title: "The Mission"
id: mission
---

{% block content %}
    <div class="container" id="mission">
        <h1 class="text-center mb-4">
            My Mission is to Help You
        </h1>

        <p class="bigger mb-4">
            I believe any person in the world <strong>can learn anything</strong>. No matter what age, social status or experience you have now. You can learn anything you set your mind to.
        </p>

        <p>
            I connect computers and modern psychology. I help <strong>my clients to do more with less</strong> and be change-proof:
        </p>

        <div id="client-line">
            <div class="text-center row mt-3 mb-3">
                {% for logo, url in helped_companies %}
                    <div class="align-self-center col-md-2 col-sm-4 col-4 border-0 pt-md-0 pb-md-0 pt-2 pb-2">
                        <a href="{{ url }}">
                            <img src="/assets/images/references/{{ logo }}" alt="">
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="text-center mb-5">
            <a href="/contact/" class="btn btn-warning">
                Become my <strong>next Client</strong>
                &nbsp;
                <em class="fas fa-chart-line fa-fw"></em>
            </a>
        </div>

        {# @todo add entrydo? #}
        {# @todo add elasticr? #}

        <hr>

        <h2>
            Do you want 1:1 mentoring or in-house Training?
        </h2>

        <p>I turn my mission into reality in <strong>mentorings and trainings</strong>.</p>

        <div class="card-deck">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">1:1 60 minutes Mentorings</h3>

                    <div class="text-center mt-5 mb-5">
                        <em class="fas fa-clock fa-4x"></em>
                    </div>

                    <p>
                        100 % <a href="/blog/2017/09/25/3-non-it-books-that-help-you-to-become-better-programmer/#deep-work-by-cal-newport">deep</a> attention just for you,  your problems and questions.
                    </p>

                    <br>

                    <p><strong>I usually do</strong>:</p>

                    <ul>
                        <li>code-reviews</li>
                        <li>whole code-base-review once a 2 months</li>
                        <li>answer your questions</li>
                        <li>organize a term on Hangouts that suits you</li>
                        <li>share links to relevant posts to your topic</li>
                    </ul>

                    <br>

                    <p><strong>You usually do</strong>:</p>

                    <ul>
                        <li>take a note when stumble a problem during the week</li>
                        <li>call me when you really need help</li>
                    </ul>

                    <p>The most favorite frequency is <strong>1 hour/week</strong>.</p>

                    <br>

                    <div class="text-center mt-2">
                        <a href="/contact/" class="btn btn-success pt-2">
                            <strong>Hire me</strong> for 1500 Kč/65 € hour
                            &nbsp;
                            <em class="fas fa-arrow-circle-right fa-fw"></em>
                        </a>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">In-House Training</h3>

                    <div class="text-center mt-5 mb-5">
                        <em class="fas fa-home fa-4x"></em>
                    </div>

                    <p>
                        Do you want me in your company for your whole team?
                    </p>

                    <br>

                    <p><strong>Most favorite trainings</strong>:</p>

                    <ul>
                        <li>Symfony - from introduction, upgrades between version to decoupling and using less-known tips</li>
                        <li>Nette - the same</li>
                        <li>custom framework to open-source</li>
                        <li>monorepo architecture</li>
                        <li>package management</li>
                    </ul>

                    <br>

                    <div class="text-center mt-2">
                        <a class="btn btn-success" href="/contact/">
                            Call me and we'll <strong>talk about your project</strong>
                            &nbsp;
                            <em class="fas fa-arrow-circle-right fa-fw"></em>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <h2>"I'm the Expert"</h2>

        <p>
            I'm definitely not <em>that</em> <a href="https://www.youtube.com/watch?v=BKorP55Aqvg">kind of expert</a>. But I'm trying to better every day and collect feedback to get there:
        </p>

        <ul>
            <li>from <a href="/blog/">17 000 monthly</a> readers of my blog with over 200 posts</li>
            <li>from <a href="https://stackoverflow.com/users/1348344/tom%C3%A1%C5%A1-votruba">250 answers</a> on Stackoverflow,</li>
            <li>from over <a href="/talks/">30 talks</a> I gave on various topics in 6 countries and 2 continents</li>
        </ul>

        <br>

        <p><strong>I feel most confident to help you with</strong>:</p>

        <ul>
            <li><strong>anything around Symfony</strong> - thanks writing <a href="https://github.com/symplify/">Symfony open-source</a> and founding Symfony community in the Czech Republic (now <a href="https://pehapkari.cz/">Pehapkari.cz</a>) I had to really dig deep into Symfony code</li>
            <li>refactoring of legacy applications with <a href="https://getrector.org/">Rector</a></li>
            <li>saving code-review costs with coding standards</li>
            <li>basically <strong>anything <a href="/blog/">I write about</a></strong></li>
        </ul>

        <p class="text-center mt-5">
            <em>Do you want improve quickly with helping hand?</em>
        </p>

        <p class="text-center">
            <a href="/contact/" class="btn btn-danger mt-2 mb-2">
                I'm here to <strong>help You</strong>
                &nbsp;
                <em class="fas fa-handshake fa-fw"></em>
            </a>
        </p>
    </div>
{% endblock %}
