---
layout: default
title: Vaše spokojenost je mým posláním
id: satisfy
---
<div class="container">
    <div class="page">
        <div class="main" id="references">
            <header class="page-header text-center">
                <h1>{{ page.title }}</h1>
                <br>
            </header>

            <p>
                Přečtěte si názory firem a jednotlivců, kteří už mají školení se mnou úspěšně za sebou.
            </p>

            <hr>

            <a name="skoleni-pro-firmy"></a>
            <h2>Školení pro firmy</h2>

            <h3>
                <a href="http://www.lekarna.cz">Lékarna.cz</a>
                <img src="/../../../../images/spokojenost/lekarna-logo.jpg" alt="Lékárna.cz">
            </h3>

            <p>(únor 2016)</p>

            <ul>
                <li>14 hodin školení</li>
                <li>11 účastníků</li>
                <li>40+ probraných témat z Nette</li>
                <li>1 workshop Doctrine</li>
                <li>1 hodina ochutnávky ze Symfony</li>
                <li>2x laser game (jako odměna za dobře odvedenou práci)</li>
            </ul>

            <h4>Názory účastníků</h4>

            <p>
                <img src="/../../../../images/spokojenost/tomas-bek.jpg" alt="Tomáš Bek" class="face thumbnail">

                <p><em>„Pro mě osobně bylo školeni velkým přínosem. Napojení Nette na Doctrine je nyní jednoduché. Líbily se mi také postřehy k testovaní a nástrojům - co k čemu používat, např. PHPStorm a jeho použití v praxi. Super školení, které celý tým posunulo dopředu.“</em></p>

                <p>
                    <strong>Tomáš Bek</strong>, Šéf technického vývoje
                </p>
            </p>

            <div class="clearfix"></div>
            <br>

            <p>
                <img src="/../../../../images/spokojenost/tomas-pilar.jpg" alt="Tomáš Pilař" class="face thumbnail">

                <p><em>„Celé školení v Lekarna.cz probíhalo v pohodové a přátelské atmosféře. Část školení sloužila jako workshop a zde bych chtěl Toma pochválit za obětavost a snahu pomoci účastníkům, kteří měli nějaký problém. Tom během školení několikrát ukázal, že má dostatek zkušeností z praxe, o které se s námi rád podělil.“</em></p>

                <p>
                    <strong>Tomáš Pilař</strong>,
                    Senior PHP programátor/Vedoucí vývoje Lekarna.cz 2.0
                </p>
            </p>

            <div class="clearfix"></div>
            <hr>

            <h3>
                <a href="http://www.erudio.cz">Erudio.cz</a>
                <img src="/../../../../images/spokojenost/erudio-logo.gif" alt="Erudio.cz">
            </h3>

            <p>(únor 2016)</p>

            <ul>
                <li>21 hodin školení</li>
                <li>8 účastníků</li>
                <li>30+ probraných témat ze Symfony</li>
                <li>1 workshop Doctrine</li>
                <li>1 workshop Git</li>
                <li>1x nečekaná oslava narozenin</li>
            </ul>

            <h4>Názory účastníků</h4>

            <p>
                <img src="/../../../../images/spokojenost/radek-strnad.jpg" alt="Radek Strnad" class="face thumbnail">

                <p><em>„Potřebovali jsme individuální školení Symfony a Tomáš nám byl doporučen. Velmi rychle připravil školení přímo na míru, kde se zaměřil na naše konkrétní problémy.
                    Tomáš neříkal teorii, kterou si můžeme přečíst kdekoliv na internetu, ale předal nám tipy z praxe. Doporučuji ho všem, kteří hledají specialistu.“</em></p>

                <p>
                    <strong>Radek Strnad</strong>, Vedoucí programátorského týmu
                </p>
            </p>

            <div class="clearfix"></div>
            <br>

            <p>
                <img src="/../../../../images/spokojenost/tomas-linhart.jpg" alt="Tomáš Linhart" class="face thumbnail">

                <p><em>„Hromadu věcí si člověk načte a vygoogluje, ale pak potřebuje mít k dispozici někoho "z praxe", kdo řekne, jak se to dělá doopravdy. To se bohužel vyčíst nedá. Tomášovi tedy velké díky za sdílení zkušeností! Samozřejmě nesmím taky zapomenout na velmi užitečné bundly, které nám ukázal.“</em></p>

                <p><strong>Tomáš Linhart</strong>, PHP programátor</p>
            </p>

            <div class="clearfix"></div>
            <hr>

            <p class="text-center">
                Rádi byste něco podobného i u Vás ve firmě?

                <p class="text-center">
                    <a href="{{ site.url }}/kontakt" class="btn btn-lg btn-success">Ozvěte se mi</a>
                </p>
            </p>

            <hr>

            <a name="konzultace-pro-jednotlivce"></a>
            <h2>Konzultace pro jednotlivce</h2>

            <div class="row">
                <div class="col-md-6">
                    <img src="/../../../../images/spokojenost/pavla-curdova.jpg" alt="Pavla Čurdová" class="face thumbnail">
                    <p><em>„Tomáš umí mluvit stejně dobře s lidmi i s počítači.“</em></p>
                    <p>
                        <strong>Pavla Čurdová</strong>, <a href="http://www.curdka.cz/">curdka.cz</a>
                    </p>
                </div>
                <div class="col-md-6">
                    <img src="/../../../../images/spokojenost/simon-podlipsky.jpg" alt="Šimon Podlipský" class="face thumbnail">
                    <p><em>„Jako samouk jsem měl v některých Nette věcech zmatek. Díky konzultaci jsem si je mohl ujasnit. Doporučuju!“</em></p>
                    <p>
                        <strong>Šimon Podlipský</strong>, <a href="http://podlipsky.net/">podlipsky.net</a>
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <img src="/../../../../images/spokojenost/petr-janda.png" alt="Petr Janda" class="face thumbnail">
                    <p><em>„Lektor byl zkušený programátor, dokázal rychle reagovat na dotazy a vše podal srozumitelně i pro začátečníka...“</em></p>
                    <p>
                        <strong>Petr Janda</strong>, <a href="http://pjanda.cz/">pjanda.cz</a>
                    </p>
                </div>
                <div class="col-md-6">
                    <img src="/../../../../images/spokojenost/stev-leibelt.png" alt="Stev Leibelt" class="face thumbnail">
                    <p><em>"Thank you very much for the time you spend on ApiGen. You did an incredible work. Maintaining such a big code base alone is not doable in spare time."</em></p>

                    <p>
                        <strong>Stev Leibelt</strong> on my <a href="https://github.com/apigen/">ApiGen</a> 1 year maintenance,
                        <a href="https://github.com/stevleibelt">Stev on Github</a>
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <img src="/../../../../images/spokojenost/stepan-pernica.jpg" alt="Štěpán Pernica" class="face thumbnail">
                    <p><em>„Školení pro mě bylo velice přínosné, protože jsem konečně dostal odpovědi na otázky, které mi beželi hlavou už několik měsíců. Pomalu začínám přepisovat web podle tvých rad.“</em></p>
                    <p>
                        <strong>Štěpán Pernica</strong>, <a href="http://www.deltaweb.cz/">deltaweb.cz</a>
                    </p>
                </div>

                <div class="col-md-6">
                    <img src="/../../../../images/spokojenost/vladimir-zavalisin.jpg" alt="Vladimír Zavališin" class="face thumbnail">
                    <p><em>„Rád bych poděkoval za vstřícnost a pružnost při řešení našich potřeb. Věřím, že brzy opět využijeme služeb pana Votruby pro konzultaci stávajících projektů.“</em></p>
                    <p>
                        <strong>Vladimír Zavališin</strong>, <a href="http://www.solutionfactory.cz/">solutionfactory.cz</a>
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <img src="/../../../../images/spokojenost/jan-nerold.jpg" alt="Jan Neřold" class="face thumbnail">

                    <p><em>„Školení na téma Nette pro mne bylo velice přínosné. Přestože jsem často přeskakoval, dostával jsem ucelené odpovědi, které mi hodně pomohly. Po pár konzultacích už jsem byl schopen se postavit na vlastní nohy.“</em></p>

                    <p>
                        <strong>Jan Neřold</strong>, <a href="http://www.nk-translators.com">NK Translators</a>
                    </p>
                </div>
                <div class="col-md-6">
                    <img src="/../../../../images/spokojenost/vaclav-kvasnicka.jpg" alt="Václav Kvasnička" class="face thumbnail">
                    <p><em>„Během školení mě Tomáš doslova vystřelil z místa, kde jsem stagnoval už delší dobu. Naučil mě nové postupy, díky kterým se mi teď pracuje mnohem líp a efektivněji.“</em></p>

                    <p>
                        <strong>Václav Kvasnička</strong>, <a href="http://www.microweb.cz/">MicroWeb</a>
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <img src="/../../../../images/spokojenost/martin-valek.png" alt="Martin Válek" class="face thumbnail">

                    <p><em>„Tomáš má v Nette opravdu rozhled a zodpověděl mi všechny mé dotazy. Školení mohu jen doporučit.“</em></p>

                    <p>
                        <strong>Martin Válek</strong>, Mediart s.r.o.
                    </p>
                </div>
            </div>

            <br>

            <hr>

            <p class="text-center">
                Taky potřebuješ doplnit pár znalostí nebo rovnou zkonzultovat projekt?

                <p class="text-center">
                    <a href="{{ site.url }}/kontakt" class="btn btn-lg btn-success">Napiš mi</a>
                </p>
            </p>

            <hr>
        </div>
    </div>
</div>
