---
layout: default
title: "Boost your PHP Skill"
id: skills
---

{block content}
    <!-- redirect to new page -->
    <meta http-equiv="refresh" content="0; url=/mentoring-and-lectures/" />
{/block}
