---
layout: default
title: "Dive in Talks"
id: talks
---

{block content}
    <div class="container">
        <h1>{$title}</h1>

        <div>
            <p>I love to do these 3 things:</p>
        </div>
    </div>
{/block}
