---
layout: default
title: Přidej se k desítce mentorovaných
id: mentoring
---
<div class="container">
    <div class="page">
        <div class="main">
            <div class="row" id="contact-lead">
                <header class="page-header text-center">
                    <h1>{{ page.title }}</h1>
                    <br>
                </header>
            </div>

            <p class="text-center">
                Nabízím ti mentoring zdarma, protože ti chci usnadnit cestu. Jednou za týden po 30 minut.
                <br>
                <p class="text-center">
                    <a href="/kontakt" class="btn btn-lg btn-success">Napiš mi a jdem na to</a>
                </p>
            </p>

            <a name="milan-z-hradce-kralove"></a>
            <div class="grey-content">
                <h2>
                    <em class="fa fa-map-o fa-fw"></em>
                    Jsi z Hradce Králové nebo Pardubic? I tam teď najdeš mentora
                </h2>

                <p>
                    Jsem moc rád, že se ke mně přidal kamarád a školitel Milan Šulc.
                    <br>
                    Co Milan dělá a jak se s ním spojit <a href="https://jfx.cz/">najdeš na jeho webu</a>.
                </p>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h2>
                        <em class="fa fa-question fa-fw"></em>
                        Proč to dělám?
                    </h2>

                    <p>
                        <strong>Nesnáším</strong>, když někdo opakuje stejnou chybu,
                        jako já <strong>jen proto, že mu to
                        někdo neřekl</strong>.
                        <br>
                        Chci ti usnadnit cestu, <strong>aby ses mohl snadno a rychle dostat tam, kam potřebuješ</strong>.
                    </p>
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="col-md-12">
                    <h2>
                        <em class="fa fa-info fa-fw"></em>
                        Co můžeme probírat?
                    </h2>

                    <p>
                        Můžu tě nasměrovat směrem, který mi fungoval ze všech nejlíp,
                        posdílet mé zkušenosti a doporučit vhodné zdroje.
                        <br>
                        Ať už je to mini code-review, pokec o Doctrine, tipy na sebevzdělávání, koučink nebo cokoliv
                        jiného.
                    </p>
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="col-md-6">
                    <h3>
                        <em class="fa fa-hourglass-3 fa-fw"></em>
                        Jak dlouho na sebe máme?
                    </h3>

                    <p>
                        <strong>Jedno setkání je na 30 minut</strong>.
                        <br>
                        Tím pádem se budeme bavit k věci a jen o tom důležitém.
                    </p>
                </div>

                <div class="col-md-6">
                    <h2>
                        <em class="fa fa-money fa-fw"></em>
                        Zní to zajímavě, ale kolik za to chci?
                    </h2>

                    <p>
                        <strong>0 Kč je ok, 500 Kč je taky ok.</strong>
                        <br>
                        Cenu určuješ ty tak, aby ti v tom bylo dobře.
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="col-md-6">
                    <h3>
                        <em class="fa fa-fw fa-map-marker"></em>
                        Kde?
                    </h3>

                    <ul class="indent-less">
                        <li>
                            V Praze <strong>na Andělu</strong>
                        </li>
                        <li>nebo <strong>pohodlně na <a href="/kontakt">telefonu</a></strong>.</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <h3>
                        <em class="fa fa-fw fa-calendar-check-o"></em>
                        Kdy?
                    </h3>

                    <ul class="indent-less">
                        <li>Všední den mezi <strong>16 a 19 hodinou</strong>.</li>
                        <li>Maximálně <strong>jednou za týden</strong>.</li>
                    </ul>
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="col-md-12">
                    <p class="text-center">
                        Teď už víš všechno. Jdeš do toho?
                        <p class="text-center">
                            <a href="/kontakt" class="btn btn-lg btn-success">Ozvi se mi</a>
                        </p>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
