<a href="{{ path('book-detail', { slug: book.slug }) }}" target="blank" class="btn {% if book.isFinished %}btn-success{% else %}btn-warning{% endif %} btn-lg mt-4 mb-2">
    {% if book.isFinished %}
        Buy a copy
    {% else %}
        Become Early Adopter
    {% endif %}
</a>
