name: Build

on:
    pull_request: null

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            -   uses: actions/checkout@v1
            -   uses: shivammathur/setup-php@v2
                with:
                    php-version: 8.0

            -   run: composer install --no-progress --ansi

            -   run: bin/console dump-static-site --ansi
