name: Code Analysis

on:
    pull_request: null
    push:
        branches:
            - master

jobs:
    code_analysis:
        strategy:
            fail-fast: false
            matrix:
                actions:
                    -
                        name: 'ECS'
                        run: 'composer fix-cs --ansi'
                    -
                        name: 'PHPStan'
                        run: 'composer phpstan --ansi'
                    -
                        name: 'Rector'
                        run: 'composer rector --ansi'
                    -
                        name: 'Unit Tests'
                        run: 'vendor/bin/phpunit'

        name: ${{ matrix.actions.name }}
        runs-on: ubuntu-latest

        steps:
            -   uses: actions/checkout@v2

            # see https://github.com/shivammathur/setup-php
            -   uses: shivammathur/setup-php@v2
                with:
                    php-version: 7.4
                    # needed by phpunit
                    extensions: mbstring

            -   run: composer install --no-progress --ansi

            -   run: ${{ matrix.actions.run }}
